[2016-08-02 17:43] robbrockbank opened #35 "Improve data validation of loaded resources (front-end and back-end)"
At the moment we're using go-playground validator to handle our data validation.  This has some limitations that might warrant a different validation mechanism such as schema-based validator:

-  Validation occurs after loading the JSON/YAML.  This means the JSON/YAML marshaler raises errors when trying to load a field value of the wrong type - it has slightly less useful errors than the validator

[2016-08-02 17:45] robbrockbank opened #36 "Include revision metadata in northbound objects to allow for atomic operations"
The backend client KVPairs include revision data which allows atomic operations on objects to be performed.  The revision data is not passed up to the northbound resource definitions and so it is currently not possible to perform atomic operations using the northbound API.

[2016-08-02 17:56] robbrockbank opened #37 "Need to fully document (godoc) the northbound API (and internal components)"
Currently the API objects and the northbound resource management API are not fully documented.  In particular, how to actually use the interface.  We need:

-  A general overview of his to handle resource management
-  Code snippets.

[2016-08-02 22:47] robbrockbank opened #39 "What should the policy enumeration behavior be when tier is not specified?"
When a policy is created without specifying a Tier, the tier is defaulted to "default", and a "default" lowest priority tier is created if it does not already exist.

Problem is with enumerations:  One might expect that a get (enumeration) of policy resources when you don't specify a tier or policy would be to enumerate all of the policies across all of the tiers.... but at the moment we only enum

[2016-08-02 22:50] robbrockbank opened #40 "Need to add full cross-struct validation in both front-end and back-end"
We could just do cross-struct validation in the back-end, but we'd need a way to map the errors from the back-end up to the equivalent fields and values in the front-end.  This would probably require some more machinery to specify field mappings.

Alternatively, just implement front and back end cross struct validators.  The back-end validation will be required by Felix-go.

[2016-08-02 22:51] robbrockbank opened #41 "Need to write e2e tests of resource management"
It would be a good idea to write some end to end tests that could test data in -> data written to etcd.

- [x] Pool #188
- [x] Profile #210
- [x] Policy #189
- [x] BGPPeer #208
- [x] HostEndpoint #201
- [x] WorkloadEnfpoint #209

[2016-08-02 22:51] robbrockbank opened #42 "Need to write UTs"

[2016-08-02 22:55] robbrockbank opened #43 "Support singular and plural names in calicoctl and caps insensitive"
e.g.

calicoctl get pools
calicoctl get pool
calicoctl get hostendpoints
calicoctl get hostEndpoints

[2016-08-02 22:58] robbrockbank opened #44 "Revisit how libcalico handles errors."
Should we be defining different errors types, and using type checking to determine what the error is, or should the error implement different interfaces and the interface defines the error "behavior".

[2016-08-02 23:00] robbrockbank opened #45 "Improve libcalico logging levels"
Most of the logging in libcalico is V2 level glog.  Need to revisit the logging levels to ensure logging is not quite so verbose.

Perhaps consider a different logging package.

If we stick with glog, then perhaps follow k8s logging level guide:

https://github.com/kubernetes/kubernetes/blob/master/docs/devel/logging.md

[2016-08-03 17:29] robbrockbank opened #46 "Improve the ClientConfig data structure"
Currently the ClientConfig struct embeds an interface{} with the appropriate backend config struct type.  This is a little awkward because:

-  We currently don't document which backend config struct you need for each backend type (currently only one)
-  You end up needing to import the backend structure type

It might be fine as is, but perhaps we can move to a more libkv-style of back-end declar

[2016-08-03 18:26] robbrockbank opened #47 "Support multiple YAML documents separated by ---"
Customer request to support multiple YAML documents with `---` document separators.
(check that it is valid YAML though)

e.g.

[code]

[2016-08-03 20:10] robbrockbank opened #48 "Support json file format in calicoctl"
Fixed by #77

[2016-08-05 23:33] caseydavenport opened #54 "Initialize non-nil maps/slices in backend structs"
The backend should write out empty slices / maps to the datastore rather than "null".

An example here: https://github.com/tigera/libcalico-go/pull/53

This means we need a way to set defaults on backend structs.  A generically applicable defaulting mechanism would be useful.

[2016-08-10 18:12] robbrockbank opened #56 "Remove ID field from profile rules"
This was added to allow old versions of calicoctl to be used with profiles created by libcalico-go

Once we release a new python calicoctl - we can retire this field as it's not required by the etcd schema.

[2016-08-18 20:38] robbrockbank opened #63 "Can we give BGP Peers a name instead of using the IP address?"
Or does that not really fly?

[2016-08-18 20:44] robbrockbank opened #64 "Support plural and caps insensitive resource names"

[2016-08-18 20:45] #64 closed

[2016-08-18 20:45] robbrockbank commented on #64
dup

[2016-08-18 21:30] robbrockbank commented on #56
Fixed by #58

[2016-08-18 21:30] #56 closed

[2016-08-18 21:33] robbrockbank opened #65 "Only validate the fields required for a particular request type (e.g. create, delete, get)"
Currently we have a lot of validation fields marked as "omitempty" when we really should be validating them

I think we need to do a few things:
-  For create, update, apply validate the Spec (and honor required indicator)
-  For create, update, apply, delete validate the Metadata (And honor the required indicator)

otherwise
-  Validate Spec and/or Metadata but allow fields to be empty (in which

[2016-08-19 16:00] robbrockbank opened #66 "Bundle ICMP code and type"
ICMP type and code need to be specified together - so bundle as a single sub-struct

imcp: {type:x, code:y}

Note that the negated version should be:

not_icmp: {type:x, code:y}

[2016-08-19 20:11] caseydavenport opened #67 "Allow some modification of WorkloadEndpoints via calicoctl"
https://github.com/tigera/libcalico-go/blob/master/calicoctl/commands/delete.go#L121

Means users can't delete workload endpoints.

As per this feature request: https://github.com/projectcalico/calico-containers/issues/1034

I think it makes sense to allow people to clean up orphaned endpoints.  We probably don't need Create / Apply / Update actions though.

[2016-08-19 20:16] robbrockbank opened #68 "Need to fix up loading of calicoctl config"
Looks like we currently have to specify the datastoreType in the config file.

Also... if you don't the error message is pretty useless..

[2016-08-19 20:22] caseydavenport opened #69 "Support `calicoctl node status` in Go `calicoctl`"
With similar output / functionality to Python version.

[2016-08-19 20:23] caseydavenport opened #70 "Support `calicoctl diags` in Go calicoctl"
With similar output / functionality to Python version.

[2016-08-19 20:24] robbrockbank opened #71 "Document how to spin up the calico nodes"
Currently in calico-containers we describe how to start the node using calicoctl.

For alpha, since we don't have this support, we need to document how to spin up the containers directly.  I think the best approach here is to update the calico-containers systemd guide to use docker directly.

[2016-08-19 22:47] robbrockbank opened #73 "Simplify calicoctl resource processing by moving code into the resource manager"
The calicoctl code for create/update etc. currently has a bunch of case statements for each resource type so that the typed interface can be invoked from untyped resources.

All of this processing can be moved in the  resource manager, so that there is a single place that handles all function for each resource type.

[2016-08-19 22:58] robbrockbank opened #74 "Improve the resource structure of resources returned by get"
The calicoctl CLI can take a slice of resources, a slice of resource lists, a single resource or a single resource list.

A resource list is a structure that contains a slice of similar kind resources.

The output from a get command should have the same "structure" as the input data.

For simplicity we should assume a get on a single resource kind always returns a resource list (even if the full i

[2016-08-19 23:07] robbrockbank opened #75 "Order table output row"
The get command does not order the table output for the results.  We should consider adding a sort column or columns.

May not be easy to do with the template engine - so may need to reconsider how we output the tables.

[2016-08-22 17:03] robbrockbank opened #78 "Move calicoctl into separate repo"

[2016-08-22 17:04] robbrockbank opened #79 "Add calicoctl status command"

[2016-08-22 17:04] robbrockbank opened #80 "Add calicoctl diags command"

[2016-08-22 17:05] robbrockbank opened #81 "Write documentation for alpha release"
Need to cover all alpha commands, a brief description of the policy model, how to start a node (without using calicoctl),

[2016-08-22 17:06] robbrockbank opened #82 "Add global config options"
e.g.
Node-node mesh
BGP default AS
Logging levels in BGP and Felix

[2016-08-22 17:07] robbrockbank commented on #73
Fixed by #77

[2016-08-22 17:08] robbrockbank commented on #80
dup

[2016-08-22 17:08] #80 closed

[2016-08-22 17:08] robbrockbank commented on #79
dup

[2016-08-22 17:08] #79 closed

[2016-08-22 17:09] robbrockbank commented on #48
Fixed by  #77

[2016-08-22 17:13] robbrockbank opened #83 "Fix up pool resource management to enable global IPIP in Felix when required"
If a pool has IPIP enabled, we should also be setting the global IPIP field in Felix.

[2016-08-22 17:13] robbrockbank opened #84 "Support profile tag-docker network ID mapping in resource management?"

[2016-08-22 17:14] robbrockbank opened #85 "Add calicoctl check system command"
Another feature parity issue - I *think* we can again just port the python calicoctl command for this.

[2016-08-22 17:14] robbrockbank opened #86 "Add docker container management to calicoctl"
Add the equivalent of the python calicoctl `calicoctl container` commands.

[2016-08-22 17:14] robbrockbank opened #87 "Add IPAM release/show IP commands to calicoctl"

[2016-08-22 17:15] robbrockbank opened #88 "Add node start/stop to calicoctl"

[2016-08-22 17:15] robbrockbank opened #89 "Decide on workload endpoints model (expose endpoints or workloads with list of endpoints?)"
Fixed by #162

[2016-08-22 18:03] #43 closed

[2016-08-22 21:10] robbrockbank opened #91 "Remove "." imports"
We have a bunch of:

[code]

imports.  We should really remove the . imports.

[2016-08-22 21:23] caseydavenport commented on #91
@gunjan5 :)

[2016-08-22 21:47] robbrockbank opened #92 "Standardize config backend model"
Felix config has individual entries at:

/calico/v1/config
/calico/v1/host/<hostname>/config

Values are simple strings containing the value for a specific key.

BGP config is at:

/calico/bgp/v1/global
/calico/bgp/v1/host/<hostname>

Some of the BGP values are JSON blobs when they don't need to be.

Would be good to be consistent in how we handle configuration parameters.

[2016-08-22 22:07] caseydavenport commented on #92
I _think_ the plan is that everything should be stored as json, all the time.  It makes the values stored there consistent and more extendable in the long run.

[2016-08-22 22:16] gunjan5 opened #94 "Proper error reporting when ICMP Code is specified without the Type"
**Steps to reproduce:**
- Use this sample config yaml file:
[code]
- Not it has ICMP `code` specified without the `type`

**Current behavior:**
[code]

**Expeced behavior:**
[code]

**Ref**: https://github.com/tigera/libcalico-go/blob/master/lib/api/rule.go#L62

Similar thing should be fixed for `NotICMP` too

[2016-08-22 22:16] gunjan5 opened #95 "`calicoctl get policy` prints empty structs when the fields are not specified"
**Steps to reproduce:**
- Use this config file:
[code]
- apply the config
- get the config with `calicoctl get policy`

**Note**: `destination` and `icmp` fields are not specified for `egress`

**Current behavior:**
[code]

**Expected behavior:**
- Fields shouldn't be there at all in the `calicoctl get policy` output if they're not specified

**Code notes:**
- `omitempty` doesn't work with structs

[2016-08-23 16:56] caseydavenport opened #97 "Wrong error message for missing resource type"
[code]

If it's "not unsupported", then why can't I get it??!?

[2016-08-23 17:04] robbrockbank commented on #68
Think this is just that datastoreType needs to be defaulted

[2016-08-23 17:23] caseydavenport commented on #97
Fixed in #98

[2016-08-23 17:23] #97 closed

[2016-08-23 17:28] caseydavenport opened #99 "Help text includes resource types"
The `calicoctl` commands help text should include the resources that are valid.  At the moment, it only lists "policy" as a valid resource.

[code]

[2016-08-23 17:34] caseydavenport opened #100 "`calicoctl version` prints wrong information"
[code]

It doesn't appear to be filling in the variables for date, tag, commit.  Version should be dirty but it isnt.

[2016-08-24 21:08] gunjan5 commented on #66
Merged in PR #93

[2016-08-24 21:08] #66 closed

[2016-08-25 16:13] robbrockbank commented on #99
Fixed by #107

[2016-08-25 16:15] #73 closed

[2016-08-25 16:15] robbrockbank commented on #68
Fixed by #107

[2016-08-25 16:16] #48 closed

[2016-08-25 16:16] robbrockbank commented on #39
Fixed by #107

[2016-08-25 17:02] #99 closed

[2016-08-25 17:03] #68 closed

[2016-08-25 17:03] #39 closed

[2016-08-25 21:16] robbrockbank opened #110 "Standardize config backend model"
Felix config has individual entries at:

/calico/v1/config
/calico/v1/host/<hostname>/config

Values are simple strings containing the value for a specific key.

BGP config is at:

/calico/bgp/v1/global
/calico/bgp/v1/host/<hostname>

Some of the BGP values are JSON blobs when they don't need to be.

Would be good to be consistent in how we handle configuration parameters.

[2016-08-25 21:17] robbrockbank commented on #110
dup

[2016-08-25 21:17] #110 closed

[2016-08-25 21:19] robbrockbank opened #111 "Documentation should be auto generated where possible"
We should be able to auto generate the CLI and Schema documentation.

I think to do this we need:
-  To ensure our doc string has a full detailed description of each command.  This may mean that we need a more detailed version of the help.  Perhaps using a different CLI parser.
-  Fully document the API structure definitions and auto generate structures from the top level resource definitions.

[2016-08-25 22:07] robbrockbank opened #112 "Support using label selector to determine to which nodes a BGP peer applies."
Considering changing the BGP peering configuration model.  At the moment peers are configured as global resources or node specific resources.

A global resource is a peer that peers with every node in the cluster.
A node specific resource is a peer that only peers with the node.

The global peers are not really that useful outside a test deployment.  That means in most real world deployments you'd

[2016-08-25 23:56] gunjan5 commented on #70
as per the discussion with Rob, moving this issue to `alpha` since I might be done with #69 sooner than expected

[2016-09-02 22:32] gunjan5 opened #120 "upgrade the codebase to use Go version 1.7"
`"golang.org/x/net/context"` --> `"context"` etc.

[2016-09-06 18:04] #81 closed

[2016-09-06 18:07] #69 closed

[2016-09-06 18:08] robbrockbank opened #121 "Add etcd data to node status command"
The alpha version of the node status command omitted some of the data that used to be included in the calicoctl-python status command.   We should re-instate this for GA.

[2016-09-06 18:08] caseydavenport commented on #69
We still need to do IPv6 BGP peers for this.

[2016-09-06 18:09] caseydavenport opened #122 "node status should display IPv6 BGP peer state"
Currently, `calicoctl node status` only show IPv4 BGP peer info.  It should do IPv6 as well.

[2016-09-06 22:10] gunjan5 opened #123 "IPAM doesn't always allocate all the IP blocks"
this is a transient issue, doesn't always happen, but when it does, it's only when client requests all the IPs (v4 or v6 or both) in the pool spanning across all the blocks.

[code]

[2016-09-07 18:00] caseydavenport opened #126 "Help text doesn't include list of valid resources"
The help text for `get | create | delete` doesn't include the list of valid objects.

e.g `policy, profile, workloadendpoint, hostendpoint, bgppeer` etc.

[2016-09-07 21:39] robbrockbank opened #127 "Should hostname be called node in the API/calicoctl commands?"
If we have `calicoctl node` commands as per python-calicoctl, perhaps hostname should be called node in calicoctl and the public facing API.

[2016-09-07 21:43] robbrockbank commented on #126
The `get` and `delete` do include already - because the resource type is one of the parameters in the command.

I hadn't included in the other commands because you can only feed in files and so it's necessary to understand the file format.    That said - in hindsight, it's useful to still know which resource types you can manage through each of the commands so definitely worth including.

[2016-09-08 21:48] caseydavenport commented on #123
Fixed by #124

[2016-09-08 21:48] #123 closed

[2016-09-12 20:47] caseydavenport commented on #88
Is this a duplicate of #86 ?

[2016-09-12 23:41] gunjan5 commented on #122
Fix in PR #130

[2016-09-13 23:46] #127 closed

[2016-09-14 00:28] #100 closed

[2016-09-14 15:36] robbrockbank commented on #112
Need to pin down model for GA

[2016-09-14 15:40] robbrockbank commented on #121
This is pending the completion of the config management

[2016-09-14 15:46] robbrockbank commented on #88
@caseydavenport :  Nope, #86 refers to the `calicoctl container` commands

[2016-09-14 16:45] #71 closed

[2016-09-14 16:58] robbrockbank commented on #36
Matt - I think you were at least thinking about this from your work in libcalico.

[2016-09-16 01:03] djosborne opened #137 "resource help info doesn't correctly show "ports""
Ports needs to be a list, but the docs show them as comma separated string

[2016-09-16 17:37] matthewdupre opened #138 "status should work for non-dockerized installs."
We should implement them in a way that works for dockerized (calico-node) and non-dockerized execution of felix / BIRD.  They at least should give sane looking output in both cases.  First thought is we could use `ps` to check felix / BIRD status - that should work regardless of how they're being ran.

[2016-09-17 00:14] robbrockbank commented on #137
@djosborne

I think this might have been fixed as a side effect of my PR that beefed up the docs.  Can you check and close this out if that;s the case.

[2016-09-19 02:16] caseydavenport commented on #54
Was just discussing this with a user who hit this in the Calico CNI plugin.  An empty labels map was being written as "null", causing Felix to crash.  libcalico-go shouldn't let you write an object that causes Felix to crash!

[2016-09-20 17:44] djosborne commented on #137
Still incorrect here: https://github.com/tigera/libcalico-go/blob/master/docs/calicoctl/resources/policy.md#sample-yaml

[2016-09-20 21:32] robbrockbank commented on #138
I think if this is required by a particular customer use case we should move up to P1

[2016-09-20 22:56] matthewdupre commented on #138
It was.  It also applies to all of OpenStack.

[2016-09-21 16:23] djosborne opened #141 "calicoctl won't create policy"
[code]

[code]

[2016-09-23 20:57] #122 closed

[2016-09-23 23:20] gunjan5 commented on #70
Fixed in #129

[2016-09-23 23:20] #70 closed

[2016-09-23 23:22] #120 closed

[2016-09-26 21:17] gunjan5 commented on #141
Seems like as of this change: https://github.com/tigera/libcalico-go/commit/b4fd636e860597d8ccb2f06f501135d03e169bfb#diff-fcf1fd30667a4c28c65230985a8ace13R24

the config `.yaml` file `apiVersion` has to be `"1.0"`

I will open a PR to change all the `.yaml` files to use the new `apiVersion`

CC @robbrockbank

[2016-09-26 22:40] gunjan5 commented on #87
Behavior changes from the python version:

`calicoctl ipam info <IP>` —> `calicoctl ipam show <IP>`

Python calicoctl:
[code]

Go calicoctl:
[code]

[2016-09-27 14:06] robbrockbank opened #147 "Should Source/Destination fields in the Rule be pointers?"
Currently these are non-pointers, but since they may contain completely empty values it feels like these should be pointers.

[2016-09-27 20:23] gunjan5 commented on #138
Issue only for `status` command since `diags` doesn't really depend on a container runtime as per the discussion with @matthewdupre

[2016-09-28 00:09] gunjan5 commented on #138
Behavior with non-containerized installs with only IPv4 (no `bird6` running):
[code]

[2016-09-28 00:25] matthewdupre commented on #138
LGTM :)

[2016-09-28 00:25] #138 closed

[2016-09-28 15:50] gunjan5 commented on #85
Fixed in #143

[2016-09-28 15:50] #85 closed

[2016-09-28 16:41] gunjan5 commented on #141
after some discussion with @robbrockbank , we are going back to `v1`, so you won't have to change the `.yaml` files and `apiVersion` can be `v1` (will open a new PR shortly)

[2016-09-28 16:53] #141 closed

[2016-09-28 21:41] matthewdupre opened #155 "calicoctl error reporting for subcommands"
[code]

The error is useless (what command, what error).

[code]

Oh, so that's what it's trying to do...  The Usage before (non-sudo) suggested this syntax was illegal (both by it's presence, and it not containing `calicoctl node`), but now it turns out it's not illegal.  The usage statement should describe all available options (or say that it doesn't), it should say what the error was and what

[2016-09-29 15:09] robbrockbank commented on #126
It does now.

[2016-09-29 15:09] #126 closed

[2016-09-29 15:11] robbrockbank commented on #95
@gunjan5 do you want to run with this?

[2016-09-29 18:57] gunjan5 commented on #95
@robbrockbank sure, I'll work on it today

[2016-09-29 19:37] caseydavenport commented on #147
I think the thing to think about here is "is there a distinction between the 0 value and the not specified value".

If src is not specified, is that behaviorally different from `src: {}`?

[2016-09-29 19:37] caseydavenport commented on #147
Optional fields should probably all be pointers, so that they can be omitted.

[2016-09-30 17:37] gunjan5 opened #156 "validation errors with `calicoctl apply` policy"
With the latest commits for validation, `calicoctl apply` doesn't work as expected for the test yaml files in `test/` . Is the syntax for the yaml files different now or is this something wrong with the validation code?

[code]

similar policy I have for testing produces different validation errors:

[code]

[code]

When I go back to the commit before this one: https://github.com/projectcalico/lib

[2016-09-30 17:39] gunjan5 commented on #156
@robbrockbank not sure if the yaml fail format needs to change or something in the validation code ? If you think it's not from that commit, then I can investigate more. (assigning this to you for now since you might still be working on validation code)

[2016-09-30 20:19] gunjan5 commented on #155
@matthewdupre I'm fixing the first output you posted in PR #157 but rest of the output don't seem to be for the Go `calicoctl`, seems like those are from the python version of `calicoctl`

New error message looks like:
[code]

[2016-09-30 22:02] matthewdupre commented on #155
That'll serve me right for having both versions and customizing paths.

[2016-09-30 22:05] gunjan5 commented on #91
@robbrockbank I have some spare time, so I'll work on this issue. Hope it's ok with you

[2016-09-30 22:11] gunjan5 opened #158 "replace all the imports from `tigera/libcalico-go` to `projectcalico/libcalico-go`"
- [ ] replace all the imports
- [ ] replace any dependency in glide files
- [ ] replace references in docs

`github.com/gunjan5/libcalico-go` has moved to `github.com/projectcalico/libcalico-go`

[2016-09-30 22:12] gunjan5 commented on #158
Not that this is not strictly required since github redirects all the requests to old URL to the new one forever AFAIK

[2016-10-04 18:35] gunjan5 commented on #155
#157 has been merged with the fix but there needs to be a refactoring of how calicoctl handles errors and reports them while calling subcommands.

For example:
[code]
err is being returned and then being handled at the caller level instead of where they happen:

[code]

This _should_ be handled locally in the subcommand

[2016-10-05 22:27] robbrockbank opened #163 "Use base net types for IP and CIDR fields in API"
We currently use anonymous fields in a struct to extend the net.IP etc. types.  I think we should use typedef to extend ... which means implementing certain key methods on the derived types (JSON marshaling and String() )

I think this is a clearer approach when accessing the methods on the original type since you need to explicitly recast to the original type to access the methods.  This makes it

[2016-10-05 22:44] robbrockbank commented on #156
Looks like this is a problem with the test files.

interfaceName was incorrectly names interface ... and is a mandatory field in the Spec.

The ports list is only valid when the protocol type is UDP or TCP.  This is now being enforced, hence the errors in your config file.

There is still some work to convert the cross-struct validation errors in to some nice output text to the user.

[2016-10-05 22:51] #156 closed

[2016-10-05 22:51] gunjan5 commented on #91
fixed in #159

[2016-10-05 22:51] #91 closed

[2016-10-06 23:12] robbrockbank opened #167 "Rename fields in API and model"
There are a number of field renaming we need to do before GA:

WorkloadID -> Workload
OrchestratorID -> Orchestrator
Pool -> IPPool (pool -> ipPool)
Hostname -> Node

[2016-10-06 23:14] robbrockbank commented on #158
Fixed by #165

[2016-10-06 23:14] #158 closed

[2016-10-06 23:20] robbrockbank commented on #67
Fixed by  #162

[2016-10-06 23:21] robbrockbank commented on #40
Fixed by  #151

[2016-10-06 23:21] #40 closed

[2016-10-07 17:06] gunjan5 commented on #155
Another example of uneven error handling in calicoctl is:
[code]

Need to make sure this is also fixed.

[2016-10-10 11:45] lwr20 opened #169 "build-containerized fails if you don't have glide installed"
@robbrockbank thinks this ought to work - kinda the point of the containerized build.
[code]

[2016-10-10 13:23] lwr20 opened #170 "`calicoctl delete -f <filename>` doesn't work"
`calicoctl delete -f <filename>` does not work.  I'm seeing that it fails and the helptext says I need `calicoctl delete --filename=<filename>` instead (which does indeed work).

But this seems inconsistent with (say) `calicoctl create -f <filename>` which also works.

[2016-10-10 13:47] #170 closed

[2016-10-10 15:51] steve-wormley opened #173 "Compile fails on 32 bit platform(ARM) validator.go"
The line in validator.go fails to compile on 32 bit ARM.
156: 	return f >= 0 && f <= 4294967295

I replaced the magic constant with math.MaxInt32 and added a math import to my version.
I'm not sure what a more appropriate fix might be.

[2016-10-11 15:15] robbrockbank commented on #173
I think the ASN needs to be a uint32 rather than just an int.   I'm actually fixing up the ASN field to make it a composite string/int so i'll make sure I specify the type of int correctly.

[2016-10-13 00:09] #67 closed

[2016-10-13 03:33] caseydavenport opened #179 "Inconsistent use of pointers in backend API."
As discussed on Slack, the Syncer API returns KVPairs of the form: `KVPair{Key: k, Value: *v}`, where the rest of the API returns `*KVPair{Key: k, Value: v}`

This is causing me quite a bit of pain the work I'm doing at the moment.

@fasaxc @robbrockbank leaving up to you guys to decide which you'd like it to be, but I'd like if we could make a decision with this _fast_ and the get on with it :)

[2016-10-13 08:10] #137 closed

[2016-10-13 08:10] #173 closed

[2016-10-13 08:19] fasaxc commented on #179
@robbrockbank I think we settled on pointers and I think you have a WiP?

[2016-10-13 09:13] robbrockbank commented on #173
@steve-wormley Could you retest - I think this may be fixed by explicitly using a uint32 for the ASN

[2016-10-13 16:32] #179 closed

[2016-10-14 00:36] gunjan5 commented on #87
fixed in #145

[2016-10-14 00:36] #87 closed

[2016-10-14 00:39] caseydavenport commented on #54
Not sure if we actually want to do this.  Closing for now.

[2016-10-14 00:39] #54 closed

[2016-10-14 03:02] caseydavenport commented on #95
@robbrockbank @gunjan5 I think we agreed to not do this for now, right?

[2016-10-14 03:10] caseydavenport commented on #147
We really want to represent two things:
- Match all sources (don't care about source)
- Match some specified set of sources.

Doesn't sound like we _need_ a pointer for this.  Then again, the right semantics would probably be this:
- 1) `src: nil` - don't care about source
- 2) `src: {}` - match no sources
- 3) `src: {k:v, a:b}` match sources with k=v && a=b

#2 doesn't really make sense, so maybe

[2016-10-14 03:15] caseydavenport opened #183 "Rename !X fields in API to be notX"
They format really weirdly in yaml.

@robbrockbank what do you think?  The backend can stay the same.

[2016-10-14 03:19] caseydavenport commented on #88
Is this really GA for `calicoctl`?  Can we cut this?

[2016-10-14 03:21] caseydavenport commented on #121
What information is this exactly, just the BGP bind address?  Can we get that information from BIRD, and/or leave this out of the GA milestone?

[2016-10-14 03:24] caseydavenport commented on #111
Is auto-generating the documentation really GA?

[2016-10-14 03:24] #89 closed

[2016-10-14 03:25] caseydavenport commented on #41
@gunjan5 this is what you're working on for the next few days, yeah? I'm assigning to you.

[2016-10-14 03:26] caseydavenport commented on #86
I don't think this should be GA (if we even actually want to do this at all)

[2016-10-14 03:27] caseydavenport commented on #42
@gunjan5 could you update the description of this issue to include the set of UTs you think we need for GA, checking off the ones you've already completed?

[2016-10-14 03:29] caseydavenport commented on #45
I think we've moved away from glog in favor of logrus, so this should include making sure we've standardized on that.

[2016-10-14 03:31] caseydavenport commented on #65
I'm not sure what actually needs to be done for this task - is this just adding more fields to `validator.go`?

[2016-10-14 03:34] caseydavenport commented on #63
We can't get rid of the IP address, but having some sort of "tag" for the peer would be useful.

I think we need the IP address in the key (metadata), but maybe we can also have an optional Name field in the metadata (or "alias" field in the spec?) that allows users to tag with a human readable value.

[2016-10-14 03:37] caseydavenport commented on #63
Something like this would be useful and low cost to implement:

[code]

No default value necessary for the PeerAlias field.

[2016-10-14 03:42] caseydavenport commented on #147
@robbrockbank @gunjan5 what do you think of the above?

[2016-10-14 13:33] lwr20 opened #185 "Cannot create a policy with 'tier': 'default'"
[code]
If I create a policy like the one above, and then use `calicoctl get policy -o yaml` to retrieve it, I find that `'tier'` has been set to `'default'`.  But if I specify `'tier': 'default'` in the file, create fails with
[code]

[2016-10-14 18:26] lwr20 opened #186 "Port range gets interpreted incorrectly"
[code]

If I send in the above profile and then request it back using `calicoctl get profile -o yaml`, I see that the `ports` has changed from that string to an `int` with value `620`.  Playing with the value and seeing what happens leads me to believe that something is interpreting this string as a Time and the 620 is the number of minutes since 00:00.

@robbrockbank took a look and thinks that t

[2016-10-14 19:07] steve-wormley commented on #173
No errors on my end with a new compile.

[2016-10-17 09:31] #185 closed

[2016-10-17 22:36] gunjan5 commented on #95
@caseydavenport @robbrockbank sounds good. Seems pretty low priority, I'll move it off of GA.

[2016-10-18 09:26] robbrockbank commented on #111
Actually, given the number of resource types (not that many - auto generating is not really worth the additional effort) -  closing.

[2016-10-18 09:26] #111 closed

[2016-10-18 09:31] robbrockbank commented on #169
This should be fixed now - although I believe the binary it produces only works within the container so there may be other issues lurking here.

[2016-10-18 09:31] #169 closed

[2016-10-18 09:32] robbrockbank commented on #35
Data validation of API structs is now in place.  I'll leave validation of backend struct decisions to Felix implementation.

[2016-10-18 09:32] #35 closed

[2016-10-18 09:43] robbrockbank commented on #37
We have this in the client doc.

[2016-10-18 09:43] #37 closed

[2016-10-18 09:47] robbrockbank commented on #36
This is not required for GA, but will likely be required further out.

[2016-10-18 09:56] robbrockbank commented on #44
We are currently handling errors using error structs for different errors.  I personally don't see anything wrong with this and it's an approach used by many other golang components.  Closing.

[2016-10-18 09:56] #44 closed

[2016-10-18 09:58] robbrockbank commented on #46
This was somewhat a tentative issue - I don't think anyone has complained thus far about the client data structure - so closing, we can revisit when more people use the interface.

[2016-10-18 09:58] #46 closed

[2016-10-18 10:04] robbrockbank commented on #147
I don't think match no sources makes sense - we always have a source, so basically a nil source is not really required.  I'd be happy closing this out - accepting that a get may return an empty source or destination struct - and perhaps in the future updating the YAML marshaling to omit empty structs the same way it omits empty values.

[2016-10-18 10:32] robbrockbank commented on #147
I'm not sure I feel that {} means match no sources.  That feels more like "we are matching on a source but don't care about any of the source parameters".   The parameters in the source map tighten up the match on the source so the fewer the parameters, the looser the match.  To me nil feels more like "match no sources" and therefore I think that pushes us towards not having nil as a valid value s

[2016-10-18 10:32] #147 closed

[2016-10-18 10:35] robbrockbank opened #191 "Empty structs are written out in YAML as {} rather than being omitted"
This is because the default JSON marshaller in golang does not handle the "omitempty" tag on empty structs (it does for struct pointers, but not for structs themselves).

Upshot, a match all source rule will have the source field value written out as {} rather than being omitted from the YAML completely.

I think to fix this, we either have to wait for the default encoding/json module to handle em

[2016-10-18 10:44] robbrockbank commented on #121
Actually, I don't think this is necessary.  The information that will be missing from the status command will be available through other means.  We can decide to add it later if we require - but I don't think we need to track that as it can be decided by trial.

[2016-10-18 10:44] #121 closed

[2016-10-18 10:48] robbrockbank commented on #95
The ICMP being returned as {} was actually a bug - it is a pointer field and should not have been returned when not specified.  That is fixed.

The source and destination fields on the other hand are structs.  I've raised a separate, specific issue for the general problem (that you can't omit empty struct fields), so closing this one.

See issue #191

[2016-10-18 10:48] #95 closed

[2016-10-18 10:50] robbrockbank commented on #94
The ICMP cross struct validation is fixed up, so closing this issue.  I will re-open another issue to make sure we handle the cross struct validation errors correctly and write out sensible error messages to the user.

[2016-10-18 10:54] robbrockbank commented on #92
This is related more to data model discussions rather than updates we are planning to make for libcalico.  I'm closing this issue out as it may be rather moot for API server etc.

[2016-10-18 10:54] #92 closed

[2016-10-18 10:55] robbrockbank commented on #47
This will be a tricky one to implement as it'll require some changes to the YAML parser.

[2016-10-18 10:57] robbrockbank commented on #45
We already sue logrus now - but the log levels do need sorting out.

Not particularly important for the release of calicoctl since logging is disabled by default.  Where required by Felix, the logging levels have already been sorted out.  This is therefore low priority.

[2016-10-18 11:06] robbrockbank commented on #63
I'm more interested in whether we should re-work our BGP model entirely.  I'm closing this issue and beefing up the details in #112

[2016-10-18 11:06] #63 closed

[2016-10-18 11:07] robbrockbank commented on #112
Suggestion from @caseydavenport from #63 to add an alias to the peer.

Something like this would be useful and low cost to implement:

apiVersion: v1
kind: BGPPeer
metadata:
  PeerIP: 1.2.3.4
spec:
  PeerAlias: tor1
No default value necessary for the PeerAlias field.

[2016-10-18 11:21] robbrockbank commented on #65
At the moment we always validate the full contents of the YAML data.    This means, at the moment, you can't just feed in a list of YAML with empty specs to delete a set of objects (you really only need the metadata) -- because the spec data is validated.

When deleting/getting/listing it is not necessary to validate the Spec data since that is not actually used in the request.

We should limit ex

[2016-10-18 11:24] robbrockbank commented on #86
Indeed.  This should not be GA.

At the moment our plan is to retire this function - it was primarily added to handle container networking prior to CNI and libnetwork.

[2016-10-18 11:26] robbrockbank commented on #84
The plan here is to update the libnetwork plugin to perform the network ID -> network name lookup in the endpoint callbacks.  The network create/delete then become pretty dumb callbacks and the profile management will be handled alongside creation of the endpoint.  Note that profiles associated with docker networks will not be tidied up alongside the network.  Note also, that renaming a docker net

[2016-10-18 11:26] #84 closed

[2016-10-18 11:28] robbrockbank commented on #75
I would probably just re-implement the tab writer so that it can handle ordering based on the contents of the columns (in column order)

[2016-10-18 11:31] robbrockbank commented on #74
Not actually required for GA - but will probably be required if we want to implement a merge command (in this case we'd want to do a get and then reload the file contents over the top and then update).

[2016-10-18 11:32] robbrockbank opened #192 "Need to display user facing cross-struct validation error messages"
The cross-struct validation errors do not contain sensible user-facing text.  It is possible to see approximately the problem, but it's not ideal.

I think we just need to check for cross struct error types and handle each of the errors that our validation methods can raise.

[2016-10-18 11:33] robbrockbank commented on #192
I think this can be pushed out to after GA because the error code is almost human readable.  Would be good to address early in the second release though.

[2016-10-18 11:34] robbrockbank commented on #94
See #192 for general error reporting issue.

[2016-10-18 11:34] #94 closed

[2016-10-18 11:35] robbrockbank commented on #112
For GA we *could* stick with the existing model, but I think we need to agree that upfront.  So setting to GA to at least get sign off on direction.

[2016-10-18 11:37] robbrockbank opened #193 "Update documentation to use new calicoctl commands"
-  Update all of the docs to use the latest commands
-  Remove docs about non-docker networking docker containers
-  Update our vagrant demos
-  Move all documentation into the docs repo.

[2016-10-18 11:38] robbrockbank opened #194 "Update documentation to use new calicoctl commands"
- [ ]  Update all of the docs to use the latest commands
- [x]  Remove docs about non-docker networking docker containers
- [x]  Update our vagrant demos
- [x]  Move all documentation into the docs repo.

[2016-10-18 13:24] fasaxc opened #195 "Not a file error when deleting empty parents"
Seen in the OpenStack tests, when the etcd backend tries to delete the parents of a status report, it gets a not a file error:

[code]

We are using an old version of etcd 2.0.11 so if this doesn't repro easily, that could be a difference.

[2016-10-18 14:10] #195 closed

[2016-10-19 01:04] mihgen opened #198 "chown: Permission denied while running build-containerized or test-containerized targets"
Running on Mac with Docker app Version 1.12.1 (build: 12133):
....

github.com/projectcalico/libcalico-go/lib/selector/selector.go:26:	Parse		0.0%
total:									(statements)	0.0%
github.com/projectcalico/libcalico-go/lib/selector/tokenizer/tokenizer.go:72:	Tokenize	68.8%
total:										(statements)	68.8%
chown: ./.git/objects/pack/pack-6c377b3d1e1b3092e0ccc1e93ba7582dff573781.idx: Permission den

[2016-10-19 10:10] artem-panchenko commented on #198
Looks like the issue affects only MAC users, on my Ubuntu and on circleCI it works fine, for example:

https://circleci.com/gh/projectcalico/libcalico-go/505

However, we can replace `chown -R ./` by `chown -R vendor/ bin/` so owner/group is changed only for directories created by test/build.

[2016-10-19 20:20] gunjan5 opened #200 "Clearly document the difference between Profile and Policy"
/docs/calicoctl/resources/profile.md
/docs/calicoctl/resources/policy.md

Someone who is not familiar with Calico might have a hard time understanding the difference with the existing explanation in the docs.

[2016-10-20 01:00] mihgen opened #202 "IPAM().AutoAssign should return error when no addresses allocated"
When there is no pool available, no IP address is returned. See example invocation at https://github.com/projectcalico/calico-cni/blob/master/ipam/calico-ipam.go#L84:
[code]

In calico-cni, it leads to crash (log below), due to an attempt to access first element of empty list (see https://github.com/projectcalico/calico-cni/blob/master/ipam/calico-ipam.go#L91, and issue https://github.com/projectc

[2016-10-20 01:25] gunjan5 commented on #202
One case to consider is when `AutoAssign` requests 257 IPs from a pool that is of size 256, so `AutoAssign` would return 256 IPs. Currently, it just prints an Info log: https://github.com/projectcalico/libcalico-go/blob/master/lib/client/ipam.go#L279
`Auto-assigned 256 out of 257 IPv4s` which is not a complete failure since it assigned all the IPs that were requested except 1.

One possible fix in

[2016-10-20 02:06] mihgen commented on #202
Yeah - something like a struct with error text message, actual number of ipv4 allocated, actual number of ipv6 allocated?

[2016-10-20 07:26] jellonek commented on #202
[code]
IMO this is quite different situation because both lists of assigned addresses were empty so contract was broken - there was returned no single one assigned address.

Still this can be ok for `libcalico-go` - but should be verified on `calico-cni` like in https://github.com/projectcalico/calico-cni/pull/190

[2016-10-23 21:43] gunjan5 commented on #198
+1 to what @mihgen said about the use of `chown`.
Another side effect of doing this:
[code]
is that if the tests fail, but second operation after the `;` succeeds, it returns an Exit code of `0` so CircleCI doesn't catch failed tests

[2016-10-24 02:56] caseydavenport commented on #88
@robbrockbank I think this doesn't belong in this repo anymore, yeah? :)

Also, any thoughts on the comment above?

[2016-10-24 02:58] caseydavenport commented on #193
I think this is a duplicate of #194

[2016-10-24 02:58] #193 closed

[2016-10-24 09:56] artem-panchenko commented on #198
@gunjan5 Currently owner is changed only for 'vendor' folder (which is created inside docker container), so I believe Mike's concerns are resolved. Regarding exit code, you are totally right and I am sorry I missed that. To fix the issue I'd propose to enable 'errexit' for bash inside docker container:

http://paste.openstack.org/show/586873/

[2016-10-24 16:57] gunjan5 commented on #198
@artem-panchenko `-e` option won't work on alpine on mac for some reason. @robbrockbank suggested using `&&` which seems to work both locally and in CircleCI

[2016-10-24 17:03] #198 closed

[2016-10-24 18:14] caseydavenport commented on #202
Just reading this now - isn't the problem that AutoAssign should return an error when no pool is available?

Looks like the CNI code expects AutoAssign to return an error, but it isn't being hit? https://github.com/projectcalico/calico-cni/blob/master/ipam/calico-ipam.go#L86

The mechanism for this already exists - AutoAssign should just return an error when it encounters one. . .

[2016-10-24 19:48] gunjan5 commented on #42
I think the UTs would only include `randomblock_test` and `ipam_test` which tests `AutoAssign`, `AssignIP`, `ReleaseIPs`, `ClaimAffinity` and `ReleaseAffinity` UTs, rest of `libcalico` stuff should be covered by the FVs in #41

[2016-10-24 19:48] #42 closed

[2016-10-26 12:38] lwr20 opened #222 "Validate should probably limit field sizes"
As summary.  We should reject attempts to create really really long string values.

Its unlikely that particularly long strings would be legitimate config - attempts to do so are more likely to be either bugs in automated config generation or done with malicious intent.

[2016-10-26 13:09] lwr20 commented on #222
Updating this to cover other limits in other fields.  e.g. numbers of labels, tags, etc, etc

[2016-10-26 13:48] lwr20 opened #223 "Port numbers not validated correctly"
calicoctl is accepting port ranges and lists containing port 0 and port 65536.

[2016-10-26 15:33] lwr20 opened #224 "link local IP pools should not be allowed"
At present, calicoctl allows the configuration of a /0 pool - both for IPv4 and IPv6(!).

There should probably be a maximum pool size.

[2016-10-26 16:25] caseydavenport commented on #112
I'd quite like an alias of some sort, but not GA!

[2016-10-26 16:28] caseydavenport commented on #167
Pool -> IPPool still needs to happen, but then can be closed.

[2016-10-26 16:28] caseydavenport commented on #167
@gunjan5 can you fix up once the pool tests go through?

[2016-10-26 16:41] gunjan5 opened #225 "libcalico error reporting"
- make error reporting uniform
- make errors more useful
- maybe use something like https://github.com/pkg/errors

[2016-10-27 06:00] caseydavenport opened #226 "Mismatched affinity representation with Python libcalico"
As discussed here: https://github.com/projectcalico/calico-containers/issues/1194#issuecomment-256553868

Looks like the Go libcalico uses `hostAffinity: hostname` whereas the Python libcalico uses `affinity: host=hostname`.

This is pretty bad, and doubly so since the CNI IPAM plugin has been writing data in the former way since v1.4.0.  Changing this will likely have compatibility problems.

[2016-10-27 16:35] caseydavenport commented on #202
If I understand correctly, this was fixed in the CNI plugin by checking the number of returned IP addresses (which is the way AutoAssign is meant to be used).

Closing - let me know if there is something else here, and I can re-open!

[2016-10-27 16:35] #202 closed

[2016-10-27 16:52] gunjan5 commented on #41
all FVs (also called e2e in most places) are merged

[2016-10-27 16:52] #41 closed

[2016-10-28 01:03] gunjan5 commented on #186
@lwr20 I tried reproducing it with the latest golang branch, and I don't see it being converted to `620`, maybe I'm doing it wrong?
See my output below:
[code]
[code]
[code]

[2016-10-28 20:18] caseydavenport commented on #167
@robbrockbank Could you explain the motivation behind renaming `Pool` to `IPPool`?  I don't really understand / remember why we want to do that.

[2016-10-28 20:35] gunjan5 commented on #224
after a quick chat with @matthewdupre, seems like `/0` might not be an issue, but policing something like pools that include 169.254.1.1 (or the IPv6 equivalent) would be nice to have, but it's not for the GA release.

[2016-10-31 11:22] lwr20 commented on #186
Sure enough, having updated to use a later version of calicoctl:
[code]
Closing.

[2016-10-31 11:23] #186 closed

[2016-10-31 11:29] lwr20 opened #230 "Order being rounded up"
I'm round-tripping policy through `calicoctl` and I'm seeing that the Order value is being rounded up.  Here's my policy (in python dict format):
[code]
When comparing what comes out with what I injected, I see:
[code]

calicoctl version is:
[code]

[2016-10-31 16:05] robbrockbank commented on #194
@gunjan:  Do you think you could take this on to do the following:
-  Get the golang branch building cleanly
-  Make sure the resource definitions are accurate

[2016-10-31 16:06] robbrockbank commented on #167
@caseydavenport:  simply that pool isn't particularly descriptive.... pool of what?   So ipPool was simply to tighten up the description.

[2016-10-31 16:07] robbrockbank commented on #88
Yes we can cut since for GA we can (and have to) document running the container.

[2016-10-31 16:10] robbrockbank commented on #78
This is done - but we need to rename calico-containers to be calico

[2016-10-31 16:10] #78 closed

[2016-10-31 16:16] gunjan5 commented on #223
0 should be fine, I'll look into 65536

[2016-10-31 16:22] lwr20 commented on #223
Just for my education, why is 0 fine?

[2016-10-31 16:38] robbrockbank commented on #167
Rename the following:
libcalico-go:
lib/api/pool.go -> ippool.go
  Rename everything in here  Pool->IPPool   and   pool->ipPool
  (if you use the refactor feature it should rename within your codebase)

lib/backend/model/pool.go
  Bare minimum here is to rename the text in the String() methods to say IPPool instead of Pool

calicoctl

Update resources.go and resourcemgr

[2016-10-31 19:41] gunjan5 commented on #223
_after some discussion on slack_
we are going to validate to make sure we don't accept port 0 and 65536

[2016-10-31 21:21] gunjan5 opened #235 "Make libcalico-go GoDoc ready"
- [ ] doc comment for every exported func and type fields
- [ ] example tests for libcalico usage
- [ ] GoDoc reference badge for the repo

[2016-11-01 16:05] caseydavenport commented on #226
From an offline discussion - for now we're going to write out _both_ keys to etcd, and prefer the `affinity: host=X` format when doing a read, falling back to the `hostAffinity` key if the other isn't present.

[2016-11-01 18:08] robbrockbank opened #239 "Error handling and inefficient checking of pools"
[code]

-  We aren't catching the error from the List API, so de-referencing the Items in allPools will panic.
-  We shouldn't use List, we should just use Get - we know exactly when the pool CIDR is.

We should check other places where we are ignoring errors.

[2016-11-01 20:08] #183 closed

[2016-11-01 22:39] gunjan5 commented on #226
As discussed with @caseydavenport (offline) we're going to rename `hostAffinity` to `affinity` and store it in `affinity: host:X` format, and while reading (`Get` and `List`) check if the data is in `hostAffinity: X`, if so, convert it to `affinity: host:X` (in `compat.go`) to be compatible with existing deployments

[2016-11-01 23:01] caseydavenport commented on #239
@robbrockbank the CNI codebase has a test which checks for unhandled errors.  Worth adding to the CI for this repo too probably.

[2016-11-02 01:14] #155 closed

[2016-11-02 05:13] #223 closed

[2016-11-02 05:35] gunjan5 commented on #194
@robbrockbank let me know if you want me to take over some of the commands docs work tomorrow.

[2016-11-02 16:25] gunjan5 commented on #167
Pool -> IPPool merged in #240

[2016-11-02 16:25] #167 closed

[2016-11-02 21:19] #226 closed

[2016-11-02 21:22] gunjan5 opened #244 "IPAM doesn't honor the pool provided in AutoAssignArgs"
**Steps to reproduce:**
- create 2 pools (`pool1`, and `pool2`)
- AutoAssign one IP from `host-A` from `pool1`
- AutoAssign one IP from `host-A` from `pool2`
You will notice you still get an IP assigned from `pool1` event when you request the IP from `pool2`

[2016-11-04 11:41] lwr20 commented on #230
@fasaxc thinks this looks like the number is going through a float32 representation somewhere...

[2016-11-04 13:25] fasaxc commented on #230
Yes`float32(6543215.32) == 6543215.5`

[2016-11-04 13:50] lwr20 opened #248 "calicoctl does not reject unexpected fields and stores a different rule to what the user intended"
If I use calicoctl to add this config (shown in python dict format):
[code]
It accepts it without an error.  It should error because 65536 is not a valid port number.  But what's been stored in etcd is:
[code]
Which is a VERY different rule from the one that was intended...

If the user notices, this is an irritation, if not, we've *silently broken their security policy*.

[2016-11-04 16:23] #244 closed

[2016-11-04 17:41] lwr20 commented on #248
A simpler repro:
[code]

[2016-11-04 17:53] lwr20 commented on #248
Ahhh!  My yaml is invalid, but not in the way I thought it was.  This is what I should have been using:
[code]

So the bug here is in fact that if you have an unknown field in your yaml, it gets dropped silently, which is still rubbish...  I'll update the title.

[2016-11-05 18:32] caseydavenport opened #251 "Tags should be metadata on profiles"
tags should be part of the metadata for the API structs, _not_ part of the spec.  They're basically simpler labels.

As discussed with @lxpollitt

[2016-11-05 18:33] caseydavenport commented on #251
Won't make this for 2.0.0-beta, but this should go into v2.0.0

[2016-11-05 19:34] caseydavenport opened #252 "Config files should be versioned, have spec"
The datastore configuration files should have a version and a spec.

e.g

[code]

Not beta worthy, but should be considered for v1.0

[2016-11-07 16:40] caseydavenport opened #253 "Remove concept of tags"
Eventually we want to deprecate tags for labels.  Not sure exact timeframe, but the idea is that any tag can really just be represented as a label.

e.g

`projectcalico.org/tag: myProfileTag`

[2016-11-08 14:49] wleese commented on #248
Here's another example, but rather of a 'wrong' error message:

[code]

When removing protocol:tcp the error message is:
[code]

[2016-11-09 17:00] robbrockbank commented on #251
Yup funny was thinking that should be the case today....

[2016-11-10 13:58] robbrockbank commented on #253
I think we'd want the tag to be the key or a namespaced key, so maybe:

tag.projectcalico.org/myProfileTag: true

This allows you to apply a list of tags to an endpoint and allows you to use the `has("tag/myProfileTag")` selector.

[2016-11-10 14:51] robbrockbank commented on #251
[ ] Update libcalico-go
[ ] Update libnetwork-plugin
[ ] Update CNI plugin
[ ] Update docs
[ ] Update calicoctl

[2016-11-10 15:51] robbrockbank commented on #88
Actually we did implement this for beta.

[2016-11-10 15:51] #88 closed

[2016-11-10 15:52] robbrockbank commented on #86
Our current plan is to retire this, so closing out the issue.  If we find we need to re-introduce it we can re-open the issue.

[2016-11-10 15:52] #86 closed

[2016-11-10 15:52] robbrockbank commented on #82
Done.

[2016-11-10 15:52] #82 closed

[2016-11-10 15:54] robbrockbank commented on #163
I think we should go one further and try and use the base net types ... and then somehow fixup the yaml marshaler and unmarshaler to handle arbitrary types.

[2016-11-14 02:43] caseydavenport opened #256 "Use kubernetes/client-go instead of kubernetes/kubernetes"
Looks like we should now be able to use client-go instead of vendoring in the entire k8s repository.

[2016-11-15 16:52] caseydavenport opened #258 "IP's allocated from original pool after deletion"
This seems to be a reoccurrence of #56. I used https://github.com/projectcalico/calico/blob/master/v2.0/getting-started/kubernetes/installation/hosted/calico.yaml to deploy into a kops cluster.

System pods get 192.168.0.0/16 ip's:
[code]

Default pool is deleted and new pool is created:
[code]

System pods deleted:
[code]

New system pods still have ip's from 192.168.0.0/16:
[code]

[2016-11-15 16:54] caseydavenport commented on #258
Moving this from https://github.com/projectcalico/libcalico/issues/169

CC @stonith

[2016-11-15 17:06] robbrockbank commented on #83
This is already implemented

[2016-11-15 17:06] #83 closed

[2016-11-15 17:08] robbrockbank commented on #222
Best to get this in as soon as possible to prevent back compatibility issues.

[2016-11-15 18:03] caseydavenport commented on #112
@robbrockbank adding this to v1.0.0 milestone since we should have an answer to this question at least :)

[2016-11-16 09:55] robbrockbank commented on #194
Closing issue and opening separate issues in calico repo

[2016-11-16 09:55] #194 closed

[2016-11-16 13:55] robbrockbank opened #259 "Add global config as a resource"
At the moment we have separate config management methods for individual pieces of global config.  Would be better as a global resource so you can configure the entire global config in a single hit.

[2016-11-16 13:57] robbrockbank opened #260 "Support per-node Felix config in KDD"
Currently it's not possible to set most of the Felix per-node config options.  We should add these to the node resource or expose in some alternative way.

[2016-11-16 21:17] lwr20 opened #261 "Add some more evil IPAM tests"
The tests for IPAM are OK, but I don't think they go far enough.

Some ideas for tests to add:

- IP allocation: if I assign 4 IPs, release the 3rd, then request another, do I get the 3rd or the 5th returned?  I would suggest that we should get the 5th - to avoid races with other components (e.g. the orchestrator) in the situation where you allocate/release repeatedly and quickly.
- Allocate a bun

[2016-11-16 21:20] lwr20 commented on #261
What should happen if a pool with outstanding allocations is deleted?

[2016-11-16 21:23] lwr20 commented on #261
- Add a pool.  Allocate an IP from it to a host.  Release that IP.  Create a new pool.   Delete the old pool.  Allocate another IP - check it comes from the new pool.

- As above, but swap the create new pool/delete old pool steps

- As above, but don't release the IP from the old pool before deleting it.

[2016-11-17 10:42] lwr20 commented on #261
- Add a pool of size N.  Attempt to allocate N+1 IPs from it - check it fails.
- Add a pool of size N.  Allocate N IPs from it, attempt to allocate one more - check it fails.
- Add 2 pools.  Allocate all IPs from them.  Release N of them, including some from both pools.  Attempt to allocate N IPs - check it succeeds, providing addresses from both pools.

[2016-11-17 16:23] caseydavenport commented on #261
@gunjan5 don't we have the first two tests above?

[2016-11-18 02:20] robbrockbank commented on #252
[code]

So we'd expect only one of the

[2016-11-18 05:35] gunjan5 commented on #258
Fixed in #264

[2016-11-18 05:35] #258 closed

[2016-11-21 16:48] caseydavenport commented on #112
Not v1.0.0 worthy - we can one day extend the scope model to support this through something like this:

[code]

[2016-11-21 18:33] #251 closed

[2016-11-21 23:48] robbrockbank commented on #252
PR in progress

- [ ] libcalico-go
- [ ] calicoctl
- [ ] libnetwork-plugin
- [ ] calico-cni
- [ ] docs

[2016-11-23 22:51] #252 closed

[2016-11-23 23:26] #222 closed

[2016-11-24 18:53] caseydavenport commented on #163
@robbrockbank I think we decided not to do this.

[2016-11-25 06:46] caseydavenport opened #274 "Should support Watch() operations"
The syncer API is good for Felix, but it would be really nice to do individual watches on specific resource types for client users.

[2016-11-28 23:55] #230 closed

[2016-11-28 23:55] #248 closed

[2016-11-29 14:41] caseydavenport commented on #259
@robbrockbank are we actually going to do this for v1.0.0?

[2016-12-02 13:54] fasaxc opened #287 "Spammy endpoint status log"
See this a lot in the felix logs, should probably be downgraded to debug.
[code]

[2016-12-02 18:09] #287 closed

[2016-12-06 07:08] caseydavenport opened #291 "Refactor k8s Syncer() to use client-go ControllerInterface"
The k8s client packages up a bunch of logic that's pretty equivalent to what we've written here: https://github.com/kubernetes/client-go/blob/89c60099837a47cfce19bd14e2d1f16c4670fd58/tools/cache/controller.go#L216

It's what is used for a number of other standard controllers (e.g DaemonSet).  Would be nice to switch to that provided we're confident it has similar perf.

[2016-12-06 12:33] fasaxc opened #292 "Should validate that rules don't mix IPv4/v6 CIDRs"
Having a rule that matches on an IPv6 source and an IPv4 dest, for example, makes no sense and, as of 2.0.0 (https://github.com/projectcalico/felix/issues/1213), Felix ignores such rules.  (Previously, Felix did something counter-intuitive https://github.com/projectcalico/felix/issues/1212)

I think we should validate against that case in libcalico-go.

[2016-12-06 23:18] #163 closed

[2016-12-07 22:31] robbrockbank opened #294 "IPAM assignment uses random seed for affine block selection"
It should use a hash of the hostname to seed the random selection.  This way it avoids multiple affine blocks being allocated to a host if there are multiple concurrent IP requests at start of day (or when one affine block is full)

[2016-12-07 22:36] gunjan5 commented on #294
https://github.com/projectcalico/libcalico-go/blob/master/lib/client/ipam_block_reader_writer.go#L344

[2016-12-08 01:18] caseydavenport commented on #294
We should do this for v1.0.0.

@heschlie care to address this one? Should be a quick fix.

[2016-12-08 21:08] gunjan5 opened #296 "Select random IP Pool when selecting random block from a pool"
See @robbrockbank's comment for reference: https://github.com/projectcalico/libcalico-go/pull/295#issuecomment-265854648

Code: https://github.com/projectcalico/libcalico/blob/7674d52ad92bb6626ca189a4fbeed85c814e7ee8/calico_containers/pycalico/ipam.py#L1324

[2016-12-08 21:11] gunjan5 commented on #296
@robbrockbank says:

[2016-12-08 21:12] #294 closed

[2016-12-09 17:43] caseydavenport opened #297 "Unable to Delete Namespaces due to k8s TPR"
[code]

Deleting a Namespace tries to delete all resources in that ns, but apparently there is no delete options registered which is causing the ns to hang in `Terminating` state.

This occurs when using the Kubernetes datastore driver (i.e DATASTORE_TYPE=kubernetes) because it uses a ThirdPartyResource to store global config (https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/k

[2016-12-09 18:59] caseydavenport commented on #297
I've so far been unable to reproduce using Calico v2.0.0-rc2 + Kubernetes v1.4.0 and k8s v1.4.5.

Workaround is to delete the TPR via `kubectl delete`.  Side effect is that `calicoctl config` commands will no longer work.

[2016-12-10 05:02] caseydavenport commented on #256
Fixed by #285

[2016-12-10 05:02] #256 closed

[2016-12-12 01:12] bjwbell opened #299 "Remove k8s api/unversioned pkg usage"
Commit https://github.com/kubernetes/client-go/commit/124670e99da15091e13916f0ad4b2b2df2a39cd5 removed the api/unversioned package.

The following files need updating:

[code]

[2016-12-13 21:52] gunjan5 opened #306 "Need a "ping" API to check if a backend is reachable from a host"
Also to check if a user has read or read/write permissions

Background: right now we have to do a Get on a node to see if it is "connected" to the backend, having a `IsConnected(hostname)` or something similar to check if datastore is reachable would help a lot.

CC @robbrockbank

[2016-12-13 21:54] djosborne commented on #306
Specifically, this is so `startup.go` can enact the `$WAIT_FOR_DATASTORE` flag

[2016-12-13 21:55] caseydavenport commented on #306
We have a hook `EnsureInitialized` which might do the trick.  Would just need to be updated to say "returns an error if it can't connect to the datastore"

[2016-12-13 23:23] robbrockbank opened #307 "Commonize label matching code in validator and tokenizer"
The validator and the tokenizer both have their own regex for matching labels.   We should move this to a common place.  We validate selector strings using the selector parser, we should probably do something similar for validating labels.

[2016-12-13 23:46] gunjan5 commented on #306
So my understanding for this issue is to implement `EnsureInitialized` for `etcdv2` backend which is a noop for now

[2016-12-14 23:09] #200 closed

[2016-12-16 21:49] #299 closed

[2016-12-16 23:34] DreadPirateShawn opened #310 "calicoctl link is broken"
The main page of this repo says:

Hyperlink goes here: https://github.com/projectcalico/calico-containers/tree/golang

However, that link is dead -- presumably this should be https://github.com/projectcalico/calico-containers/tree/master/calicoctl or similar.

[2016-12-17 01:50] gunjan5 commented on #310
Thanks @DreadPirateShawn for spotting this! :)
I will fix it

[2017-01-03 18:23] caseydavenport commented on #297
See this upstream issue as well: https://github.com/kubernetes/kubernetes/issues/37278

[2017-01-09 10:03] sysradium commented on #297
However it seems that the thirdparty resource isn't needed on k8s 1.5?

[2017-01-09 17:41] caseydavenport commented on #297
@sysradium When Calico is using k8s instead of etcd as it's datastore, it will create TPRs to store various pieces of data.  In this case, there is a TPR that Calico needs.

If you're using etcd + Calico, then this issue doesn't apply.

[2017-01-10 12:00] hectorj2f commented on #297
@caseydavenport we see this problem with other TPRs, it has nothing to do with calico itself. If this helps you ;).

[2017-01-10 12:49] sysradium commented on #297
@hectorj2f yes, I know that. But since it is not fixed yet I am trying to find a workaround :)

@caseydavenport thanks. But now K8S has networkpolicies out of the box - there is a `/apis/extensions/v1beta1/networkpolicies` where you can store the policies for calico to use.

So I am not sure if the `network-policy.net.alpha.kubernetes.io` third party resource is still needed in the recent versions

[2017-01-10 17:32] caseydavenport commented on #297
@sysradium Correct.  This issue isn't referring to the NetworkPolicy alpha TPR, rather the TPRs created by Calico itself for storing global configuration.  See here: https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/k8s/k8s.go#L169

I updated the description to make that more clear :)

@hectorj2f Yeah, I've seen it with other TPRs as well.  At this point I don't think there's a

[2017-01-10 17:32] #297 closed

[2017-01-11 23:59] gunjan5 opened #322 "validator rejects labels with more than one `/`"
This commit line: https://github.com/projectcalico/libcalico-go/commit/9930a7e60f8ffd7b74bc9ced86637a93450f9b3f#diff-fe058abafc6b5378c4afc418edd45ef3L37

It seems to break our stars demo at: http://docs.projectcalico.org/v2.0/getting-started/kubernetes/tutorials/stars-policy/

with the following felix errors:
[code]

Need to:
- [x] Fix libcalico-go validator code to not reject multiple `/`s
- [x]

[2017-01-12 02:19] caseydavenport commented on #322
This breaks NamespaceSelector in Kubernetes NetworkPolicy, so this is pretty serious.

[2017-01-13 23:48] caseydavenport commented on #225
Closing this since it's a bit vague.  We should replace with more specific issues.

[2017-01-13 23:48] #225 closed

[2017-01-13 23:49] caseydavenport commented on #36
@heschlie this might be a good ramp-up candidate for you on libcalico-go.

@robbrockbank is it OK is @heschlie takes this? Is this somewhere in your plan?

[2017-01-20 06:52] caseydavenport commented on #322
A potential workaround for users would be using `calicoctl` to interact with Calico policy objects directly (instead of using `kubectl` and `NetworkPolicy`), and to use labels without more than one `/`.

For example, modify the following label on your workload endpoints such that `k8s_ns/label/role: management-ui` becomes `k8s_ns.label/role: management-ui`

Then, update to reference that label in

[2017-01-23 16:58] gunjan5 commented on #307
Fixed in #323

[2017-01-23 16:58] #307 closed

[2017-01-24 23:43] #310 closed

[2017-01-25 23:29] #322 closed

[2017-01-25 23:33] tomdee commented on #47
Isn't this just part of the yaml spec (i.e. multiple documents?) http://yaml.org/spec/1.2/spec.html#id2800132

[2017-01-25 23:36] tomdee commented on #191
@robbrockbank Did we already fork the YAML lib? Does that make this task any easier? https://github.com/projectcalico/libcalico-go/blob/master/glide.yaml#L14

[2017-01-26 01:09] caseydavenport opened #331 "Panic in Kubernetes backend"
[code]

Seen when setting the Namespace annotations to an invalid value with Calico v2.0.1.  Felix then repeatedly crashes.

My Namespace:

[code]

Fixing the malformed annotation fixes the crash loop.

[2017-01-26 01:14] caseydavenport commented on #331
CC @tomdee I've put this in v2.1.0, but this could be a candidate for a v2.0.2 if we decide to do another bug fix release.

[2017-01-28 04:47] gunjan5 commented on #306
@caseydavenport seems like k8s backend has `EnsureInitialized()` implemented now. If that's the case, can we close this issue?

[2017-01-29 00:09] caseydavenport commented on #306
@gunjan5 it's the etcd backend that we were waiting for.  k8s has always had EnsureInitialized.

I think this is fixed in the startup.go stuff that @robbrockbank was working on, so we can close thi.

[2017-01-29 00:09] #306 closed

[2017-01-29 00:13] caseydavenport opened #333 "Improve logging in Kubernetes datastore driver"
Logging is a bit weak in this area.

We need to do the following:
- [ ] Use context loggers where appropriate
- [ ] Ensure standardized log format (matches Felix)
- [x] Make sure Error logs are errors, and warning logs are warnings (and other log levels are appropriate)
- [ ] Add in debug logging in a number of places that don't have it.

[2017-01-29 00:32] caseydavenport opened #334 "Don't return an error for bad networkpolicy annotation"
Currently, we return an error which crashes Felix when an invalid annotation is passed on a Namespace.

Instead, we should just log a warning, set the ingress behavior to "deny", and carry on.

[2017-01-30 05:52] caseydavenport commented on #334
Duplicate of #331

[2017-01-30 05:52] #334 closed

[2017-01-30 18:16] #331 closed

[2017-02-07 11:51] fasaxc opened #340 "UTs use common ports"
I often have an etcd node running on my local machine and port 8080 forwarded to Jenkins.  The UTs just assume they can use those ports for their own etcd cluster and a k8s API endpoint.  If those ports are already open, it looks like the tests access my etcd and fail in unpredictable ways if 8080 isn't the test k8s cluster.

Can't we use a docker network to isolate all this so that it's not using

[2017-02-21 10:11] fasaxc opened #342 "etcd Syncer can tight loop on repeated network failures"
E.g. if etcd's port is refusing connections, we see this:
[code]

[2017-02-22 01:49] caseydavenport opened #345 "Missing node information for WorkloadEndpoint using KDD"
Seen in Felix logs using the Kubernetes datastore driver.  Looks like there are some cases where we send through updates without a Node field populated.

[code]

Note that when this happened, we saw that one of the Kubernetes nodes had gone into a failed state (can't remember which state exactly), which might be related.

CC @frnkdny

[2017-02-22 02:36] caseydavenport commented on #345
@frnkdny do you have the `kubectl get nodes` output from this test?  I'd like to see exactly what state the bad node was in, and which node actually had a problem so I can correlate in the logs.

[2017-02-22 19:13] frnkdny commented on #345
node: ```gke-frank-gke-master-251-default-pool-8cbec5f5-rl8q``` was in a NotReady   (1h)

[code]
Other resources with ```gke-frank-gke-master-251-default-pool-8cbec5f5-rl8q``` in the name:
[code]

Full output below:
[code]

[2017-02-22 20:18] frnkdny commented on #345
These 19 calico-node logs have many instances of "node=,". (~55k lines of logs in total)

calico-node-zmqbl.log
calico-node-4647l.log
calico-node-40bz4.log
calico-node-dvjwp.log
calico-node-l73js.log
calico-node-ckcmv.log
calico-node-pqk63.log
calico-node-pgbzg.log
calico-node-rdgd1.log
calico-node-rctzk.log
calico-node-pqk63.log
calico-node-pgbzg.log
calico-node-l73js.log
calico-node-ckcmv.log
ca

[2017-02-22 22:33] robbrockbank opened #346 "Need to validate the API data"
Currently we are only validating data that is passed in through calicoctl

I think we should get this in for v2.1.

[2017-02-22 22:35] frnkdny commented on #345
List of containers (at the end of the test) that had 1-6  restarts.
stress/logs/021617_gke_100n_10kp/getters_w_restarts.txt

(test start time: Thu Feb 16 20:50:46 UTC 2017)

image: calico/node:v1.1.0-rc4-6-g38ffcae4

[2017-02-23 23:10] #346 closed

[2017-02-24 02:54] caseydavenport opened #348 "Kubernetes datastore driver - long snapshot"
Seen in the same run as #345, which was on a 100 node, 10,000 Pod cluster.

Noticed that one of our snapshots ended up taking 35 seconds or so, which is more than I would have expected.

Most of that time appears to come from "Syncing Pods" - unclear from the logs if that time is spend on the apiserver side or on the Calico side.  We should add some info level logging at least to indicate when we

[2017-02-24 02:57] caseydavenport opened #349 "Kubernetes datastore driver sending host-networked pods"
Saw this in the Felix logs, indicating that somehow the KDD is sending the calico/node Pod through to Felix even though it is a host-networked Pod (which it shouldn't do according to the code)

[code]

CC @frnkdny @fasaxc

[2017-02-24 18:02] #342 closed

[2017-02-24 18:05] fasaxc opened #351 "Force a resync if too many Syncer failures"
After discussing #343 with @robbrockbank, we think we should be more defensive and break out of the watch loop if we hit too many failures.

[2017-02-24 18:12] caseydavenport commented on #351
@fasaxc could you provide a bit more information for this? What is it trying to solve? What sorts of failures does this cover?

[2017-02-24 20:51] caseydavenport commented on #345
@frnkdny not able to find much in the logs that indicates what's going on.

I've demoted from a P0 since I've been unable to reproduce.  I'll add some logging around this and let's keep and eye out for it in the future.

[2017-02-24 21:08] #349 closed

[2017-03-02 12:24] neiljerram opened #358 "k8s driver incorrectly reports host-networked or IP-less pod, during resync snapshot"
The k8s backend has a bug whereby IP-less (or host-networked) pods are not excluded as they should be when processing a resync snapshot, whereas they are (correctly) excluded when the client calls List() to list workload endpoints, or when the watcher detects a pod creation or update outside resync.

More detail:

- During resync, `performSnapshot` calls `syn.kc.clientSet.Pods("").List(opts)` and

[2017-03-02 12:25] neiljerram commented on #358
(CC @caseydavenport @fasaxc )

[2017-03-02 17:18] caseydavenport commented on #358
Yep.  In master we're at least checking for hostNetwork, but we're not checking the IP address yet.

https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/k8s/syncer.go#L428

I think just replacing that check with `isCalicoPod` would do the trick.

[2017-03-02 17:25] caseydavenport commented on #358
@gunjan5 this is probably a very easy way to change some code in the kdd if you're interested :)

[2017-03-02 17:56] neiljerram commented on #358
Thanks @caseydavenport .

Since writing the above, though, I've uncovered a worry: does `applyWorkloadEndpoint` (in k8s.go) still make sense?

- It's documented as "patches the existing Pod to include an IP address, if one has been set on the workload endpoint", and if that's really (and only) what it's used for, it seems to me that it doesn't make sense, because a Pod _without_ an IP address woul

[2017-03-02 22:10] caseydavenport commented on #358
@neiljerram in an ideal world we make "applyWorkloadEndpoint" a no-op.  Unfortunately, we need to do this as a workaround for an upstream k8s issue - see here: https://github.com/kubernetes/kubernetes/issues/39113#issuecomment-268728626

The CNI plugin builds an endpoint with the assigned IP address and applies it here: https://github.com/projectcalico/cni-plugin/blob/master/k8s/k8s.go#L211

It's

[2017-03-02 23:01] neiljerram commented on #358
@caseydavenport That very nearly makes complete sense to me.  The missing piece is: where does that CNI plugin k8s.go code get "the Pod API object that backs it" from?

As long as the answer is somehow other than through libcalico-go's KubeClient, I'm happy.  (Because if it was through KubeClient, I wouldn't understand how it will continue to be possible to get a Pod that doesn't yet have an IP.)

[2017-03-03 00:49] caseydavenport commented on #358
See this guy: https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/k8s/k8s.go#L458

The pod name is encoded in the workload ID.  When we do the apply, we grab the Pod from the API and update the status.

[2017-03-03 08:44] neiljerram commented on #358
Thanks @caseydavenport for your last comment, but that's still not what I meant.  I've worked out the last bit myself now, and it looks good, but for the record:

- What I meant was, what is the source of the information on the RHS of these assignments:

		// Create the endpoint object and configure it.
		endpoint = api.NewWorkloadEndpoint()
		endpoint.Metadata.Name = args.IfName
		endpoint.Metada

[2017-03-03 14:30] mdirkse opened #359 "Client example in the docs is broken"
The [client package docs](https://godoc.org/github.com/projectcalico/libcalico-go/lib/client#Client) contain an example that tells you to initialize a Calico client in the following way:
[code]
However, this doesn't actually work as the ClientConfig struct [does not seem to exist](https://github.com/projectcalico/libcalico-go/search?utf8=%E2%9C%93&q=ClientConfig).

The way I ended up making it wor

[2017-03-08 01:42] caseydavenport commented on #345
So, this is just happening because we get an update before the pod has been scheduled, which combined with the fact we're not filtering based on `isCalicoPod` in the syncer processing means that Felix gets a bunch of unusable updates.

The fix is to only send updates for pods which pass `isCalicoPod`.

[2017-03-14 00:26] caseydavenport commented on #358
Fixed by #362

[2017-03-14 02:35] reachlin opened #367 "can't build libcalico-go"
after cloned the repo and run make, i got error like this:
[code]

[2017-03-14 17:22] gunjan5 commented on #367
@reachlin what is your environment like?
OS/arch, glide version, Go version?

I'm guessing `make test-containerized` works for you? (in case if this is blocking you)

[2017-03-15 13:24] neiljerram opened #368 "k8s driver label cache doesn't get purged for resync deletes"
In a scale test [1] that does 10 cycles of creating and deleting 10k pods, I see that in the 3rd cycle Felix only reports 9046 known endpoints (`felix_cluster_num_workload_endpoints`).  So 954 endpoints got missed somehow.

Investigation of a debug log reveals 954 instances of

    <time> [DEBUG][104] syncer.go 618: Skipping pod event - labels didn't change: <name>

Drilling down on that for a par

[2017-03-15 19:29] #368 closed

[2017-03-15 22:34] #345 closed

[2017-03-16 07:06] robbrockbank opened #370 "Deleting a node resource does not delete all node specific directories"
The calico/bgp/v1/host/<hostname> directory persists after deleting the node <hostname> using calicoctl.

There doesn't appear to be any side effect other than leaking directories (not a common operation though).

[2017-03-16 10:14] neiljerram opened #371 "Add libcalico-go UT for k8s backend label cache fix"

[2017-03-16 10:15] neiljerram commented on #371
I.e. for PR #369

[2017-03-16 16:19] robbrockbank commented on #370
We should add tests to ensure when we delete a resource that we delete all related data from the datastore.
-  delete a node: delete Felix, BGP and IPAM data include directories
-  delete a workload endpoint - it deletes the orchestrator/workload dir when deleting the last endpoint

[2017-03-17 08:59] reachlin commented on #367
i am trying to enable travis for my dev. let me know if you can view this: https://travis-ci.org/reachlin/libcalico-go/builds/212041631

[2017-03-17 09:00] reachlin commented on #367
fyi, my .travis.yml
[code]

[2017-03-17 20:33] caseydavenport commented on #322
Note that this has been fixed in Calico v2.0.1 (`calico/node:v1.0.1`).

It's recommended users upgrade to the latest v2.0.x (or v2.1.x) release as described on docs.projectcalico.org.

[2017-03-18 01:44] tmjd commented on #367
These suggestions are based off the travis output and .travis.yml, I'm not sure what the issue is in the first dump you posted.

One problem is that the path you are placing the code in should be `github.com` instead of `github.ibm.com`.
Also since you are trying to run CI I'd suggest using `make test-containerized`, it runs some other targets that are needed, specifically starting up etcd and a k

[2017-03-20 02:44] reachlin commented on #367
@gunjan5 @tmjd thanks. i'll just use [make glide](https://travis-ci.org/reachlin/libcalico-go/builds/212850094) for now, because I just want to add a file based backend for small networks. it has nothing to do with etcd or k8s. So i can't use your current UT for k8s.

[2017-03-20 03:48] #367 closed

[2017-03-20 03:49] reachlin commented on #367
https://travis-ci.org/reachlin/libcalico-go/builds/212857589

[2017-03-20 08:51] reachlin commented on #367
fyi, travis.yml
[code]

[2017-03-20 20:06] #358 closed

[2017-03-23 14:41] caseydavenport opened #374 "KDD Doesn't handle Pod IP changes"
The Kubernetes datastore driver currently assumes that a Pod's IP address will never change.

When using the etcd datastore, this is actually the case, because we check if an endpoint already exists and use its existing IP address if it does.  See this bit of code: https://github.com/projectcalico/cni-plugin/blob/master/calico.go#L93

The KDD should be hitting this same bit of code, but for some r

[2017-03-23 17:24] caseydavenport commented on #374
Looking at this a little bit more, I think this is a regression caused by https://github.com/projectcalico/libcalico-go/pull/362/files

I see these two logs:

[code]

Which indicates that the DELETE is being ignored and thus the syncer's cache is not updated. Then, when the pod is re-created with the same labels but a new IP address, the KDD throws the update on the floor because the labels haven'

[2017-03-23 19:28] #359 closed

[2017-03-23 19:55] gunjan5 commented on #359
@mdirkse we've updated the GoDoc and added a new function to initialize the client with default settings (in PR https://github.com/projectcalico/libcalico-go/issues/366) .
Thanks for raising this issue! Let us know if it doesn't address your question.

[2017-03-24 06:38] lijohnso opened #377 "Cannot build in the clean environment"
Since the k8s.io/client-go has changed a lot, i met issue while building the codes.
firstly, it says that the metav1 and schema is not found in client-go, i found the folders are moved to
k8s.io/apimachinery/pkg/runtime/schema and k8s.io/apimachinery/pkg/apis/meta/v1.
I changed the import package to the new path, now it shows another error:
lib/backend/k8s/resources/ippools.go:68: cannot use &res

[2017-03-24 10:02] caseydavenport commented on #377
@lijohnso hm, sounds like client-go has had some breaking changes.

Any reason you need to update the vendored version right now? We should definitely tackle this so we don't fall out of date, but would keeping the pin in `glide.yaml` at `243d8a9cb66a51ad8676157f79e71033b4014a2a` work for you?

[2017-03-24 10:09] lijohnso commented on #377
@caseydavenport Hi, thanks for reply, no special requirement, just because i'm trying to build it with newly setup machine, it uses the master branch of the client-go. So the issue occurs. I will try to use the same commit id and try again.

[2017-03-24 10:39] lijohnso commented on #377
@caseydavenport  Hi, sorry to trouble again, i tried to use the commit id you sent, the issue is gone now, but i met another issue, the netlink and cni commit id(07a8a28637e97b22eb8dfe710eeae1344f69d16e) doesn't match. The error looks like:

utils/network.go:78: cannot use contVeth (type "github.com/vishvananda/netlink".Link) as type "github.com/containernetworking/cni/vendor/github.com/vishvanand

[2017-03-24 10:54] caseydavenport commented on #377
@lijohnso that also sounds like a mismatched vendor version - how have you installed the various dependencies listed in glide.yaml, and how are you building libcalico?

A using `glide install` should install the right versions.

[2017-03-27 07:13] #374 closed

[2017-03-27 07:36] zwpaper commented on #377
@caseydavenport Hi, I was trying to build the calico cni plugin, I got exactly the same error with lijohnso, and I try `glide install`, It doesn't work, the error still there.

[2017-03-28 06:32] gunjan5 commented on #377
@zwpaper are you using `make vendor` target? It's containerized so it should _produce_ the same result. I just tried it with master cni-plugin and it worked

[2017-03-28 06:36] zwpaper commented on #377
I am sorry for my mistaken build cmd, I was using a `go build` to build the `calico-ipam.go`, and it does not work, later, I found out the `make binary`, this works, but can I ask why should I use the `make binary`, but `go build` not working?

[2017-03-28 06:40] gunjan5 commented on #377
@zwpaper internally `make binary` is also doing `go build` see: https://github.com/projectcalico/cni-plugin/blob/master/Makefile#L87-L88 it also passes `ldflags`, etc. in addition to `go build`

[2017-03-28 08:58] zwpaper commented on #377
@gunjan5 OK, thank you! I will read the `makefile` about the detail.

[2017-03-30 21:04] #224 closed

[2017-03-31 09:17] fasaxc opened #382 "Missing pod creations with KDD"
User **sege** on calico users is using KDD with calico/node v1.1.0.  He reported:

- some pods not coming up (can't connect to them)
- later pods on the same node came up fine
- after 30 minutes, the bad pods started working; this correlated with a syncer resync:

@caseydavenport thought it might track back to #374.  **sege** is going to try calico/node v1.1.1 and report back.

[2017-03-31 09:19] fasaxc commented on #382
Overall, looks like we're either

- we're not receiving some updates form the API server that we should do
- we're dropping htem for some reason

[2017-04-03 09:06] fasaxc opened #384 "Check k8s backend doesn't do extra caching"
@caseydavenport I think you thought this might be a potential occupancy issue, is it something you can just check easily?  I'm happy to dig into it if not.

[2017-04-03 23:16] caseydavenport commented on #384
@fasaxc passing to you, since I don't think I'll get to this this week (and them I'm on vacation).

[2017-04-07 10:58] fasaxc commented on #382
**sege** confirmed that v1.1.1 fixed the issue.

[2017-04-10 14:38] sege commented on #382
Just some quick comments regarding the fix. Everything works after rebooting our nodes TWO times with 'syncer' doing its job at least once.
The first reboot after upgrading a node to 1.1.1 pods on that server will experience the same network problems, so we thought the problem was still there.

However, we let the server run and after ~30 minutes 'syncer' runs, and all pods get working network. Th

[2017-04-10 15:34] tmjd commented on #377
@zwpaper and @lijohnso Are the issues you reported still causing problems?

[2017-04-10 15:37] zwpaper commented on #377
@tmjd I can now use the `make binary` to build the project, so there is not problems for me, Thank you.

[2017-04-11 08:07] fasaxc commented on #382
@sege this fix should have taken effect as soon as the new v1.1.1 calico/node was run; it does a resync when it first starts that should fix the problem.

Are you sure that v1.1.1 was running after the upgrade?  To upgrade our daemon set you have to kill the old pods so that they get restarted as the new version.

[2017-04-11 08:10] sege commented on #382
Yes I'm sure. We update the DeamonSet and then delete the pods making the DeamonSet start node v1.1.1 on the node(s).

[2017-04-13 10:20] ijumps opened #389 "kubernetes network policy not work when namespace label contains '-'"
network policy like that:

[code]

Calico node log:

[code]

[2017-04-14 20:51] robbrockbank opened #392 "Allow "/" in Name fields (policy, profile etc.)"
The current restriction is in place only because of path construction in etcd.  Names should be appropriately escaped for etcd so that we can use "/" - which is great for namespacing and something we already do for kdd.

With odd, it is not possible to use calicoctl to view or edit your policy due to the name restriction.

[2017-04-17 16:10] tmjd commented on #377
I'm going to close this issue for now.  @lijohnso if you are till having troubles building then of course feel free to reopen this issue or create a new one if appropriate.  You can also checkout https://www.projectcalico.org/community for other support channels too.

[2017-04-17 16:10] #377 closed

[2017-04-17 18:17] #389 closed

[2017-04-17 22:08] #392 closed

[2017-04-18 16:20] robbrockbank opened #395 "LabelKeyMAtcher could be less restrictive"
The LabelKeyMatcher currently attempts to loosely match a namespaced URL format, but I don't believe there is any requirement for it to follow any rigid format.  IIRC k8s specifies a recommended but unpoliced format.  I think if k8s does not police then we probably shouldn't - which I think would just mean relaxing the regex to be the same length of an arbitrary order of the allowed characters.

[2017-04-18 16:22] robbrockbank commented on #292
Fixed by  #373

[2017-04-18 16:22] #292 closed

[2017-04-19 23:39] robbrockbank opened #399 "calico/node startup failing due to unsupported node operations with KDD"
[code]

[2017-04-20 05:45] robbrockbank commented on #399
After more investigation, it turns out the error `operation Get is not supported on Node(name=tigera-fd-kubetest-01)` is actually a follow on error for a previous failure.

In my repro scenario, the failure was using the wrong node name, so the first get was failing causing compat to request data types not supported by KDD.

Issue is less urgent, but PR which is up fixes this problem so that we wo

[2017-04-20 08:36] #399 closed

[2017-04-20 16:14] robbrockbank opened #400 "Using deprecated clientSet.Extensions in Syncer in KDD"

[2017-04-28 02:54] robbrockbank opened #404 "Upgrading from older Felix deployment is rejecting endpoint config"
Customer issue where older version of Felix allowed a more permissive regex for the label syntax.

We need to relax the label syntax so that it only checks the allowed chars and does not attempt to check the construction (i.e. we don't need to check it follows a URL style syntax).

[2017-04-28 03:30] caseydavenport commented on #400
@robbrockbank could you point to the deprecation notice / lines we're using this / add some description to this issue?

[2017-04-28 20:43] #404 closed

[2017-05-02 15:38] fasaxc opened #406 "Warnings from Felix due to lack of Apply for KDD"
[code]
Felix defaults to generating process status reports, could we make KDD return a global setting to disable that or simply ignore `StatusReport` writes?

[2017-05-02 23:07] ae6rt opened #407 "Allow IP pools to be named"
As the author of a Kubernetes pod manifest, I would like to use annotations to express an opinion as to from which pool my pod will be allocated its IP.  Furthermore, I would like to use a name for a pool instead of a CIDR block for said pool.  The reason I want a named pool is to insulate me from the network details of the CIDR block, which also frees the network operator to choose an appropriate

[2017-05-03 00:27] caseydavenport commented on #407
This is something @robbrockbank and I spoke about a while back.  IIRC it should be possible with just a few adjustments to libcalico to support names (which could default to the CIDR perhaps?) and a modification the CNI plugin to respect names in the annotations it looks for.

I quite like the idea, but we'll need to find someone who can champion implementing this.

[2017-05-03 19:14] caseydavenport commented on #406
I've opened #411 which ignores status reports in the KDD.

[2017-05-04 17:00] #406 closed

[2017-05-08 23:27] gunjan5 opened #415 "Panic while trying to delete a pod with KDD backend"
[code]

logs:
[code]

[2017-05-09 04:21] #415 closed

[2017-05-09 10:41] xychu commented on #407
Maybe a little off the topic, how about also let IP pool has labels to be filtered with?

[2017-05-11 09:06] fasaxc opened #419 "Memory leak in KDD via http2.readLoop()"
Copied from original report at https://github.com/projectcalico/felix/issues/1455 by @ijumps:

Hi, I use canal as kubernetes network plugin, which use felix. I notice some abnormally memory usage for canal:

[code]
I checked and found out calico-felix used most of the memory. Memory usage for canal-hbfbw:

[code]

The cluster is about 1000 pods and 100 nodes, without any networkpolicy.

calico-fel

[2017-05-11 09:15] fasaxc commented on #419
Some possible reasons for the trace above:

- bug in Go stdlib, it just keeps growing that buffer
- bug in k8s client; for example, maybe it is creating a new client but failing to close the old one
- bug in KDD; maybe we're creating a new connection without closing the old one.

(The trace would look similar in each case because the above can't distinguish between different calls with the same "p

[2017-05-11 10:31] fasaxc commented on #419
One potential issue is that we don't appear to call `Stop()` on our client watches before discarding them in `syncer.go` so each time we do a reasync for whatever reason, we'll probably leak the backing goroutine and channel for each watch?

[2017-05-11 13:52] fasaxc commented on #400
Goglang was flagging this up to me too:
[code]

[2017-05-11 14:28] #371 closed

[2017-05-11 18:27] #419 closed

[2017-05-16 23:51] robbrockbank commented on #192
This is already largely addressed.  Closing issue.  We should raise issues for specific errors.

[2017-05-16 23:51] #192 closed

[2017-05-17 22:17] robbrockbank opened #421 "Add label/selector support for other resources (IP Pools, BGP Peers etc.)"
Enhancement suggestion.

Would be useful to add label or selector support to other resource types.
e.g. Nodes w/ labels, BGP Peers using selectors to select nodes
e.g. IP Pools with selectors to select nodes for affinity

[2017-05-19 19:37] gunjan5 opened #423 "IPAM doesn't go through the whole IPPools list if the first IPPool is disabled or has no IPs left"
## Expected Behavior

Calico IPAM should continue going through IPPools if the first one is not available

## Current Behavior

When you pass a list of IPPools to select IP address from and if the first IPPool is disabled or doesn't have any IPs available, Calico IPAM doesn't continue looking for an IP in any of the rest of the IPPools.

## Possible Solution

This seems to be the offending code: h

[2017-05-22 17:01] gunjan5 commented on #239
im working on this as part of #424

[2017-05-22 23:14] caseydavenport commented on #36
@gunjan5 you did a little bit of work on this - is this closed? Is there more to do here?

Looks like maybe only some of the objects have revision data passed through?

[2017-05-23 00:12] gunjan5 commented on #36
@caseydavenport yeah it's only exposed for WEP at the moment. @robbrockbank has a branch for work on completely restructuring libcalico-go which will have this included (maybe not by the same means)

[2017-05-25 08:07] xychu opened #425 "Restrict IP Pool with an un-strict CIDR to be created"
## Expected Behavior

Once a IP Pool with an un-strict CIDR(e.g. 10.2.2.0/16) been created,
the `bird` will be not running and this IP Pool cannot be delete.

Maybe we should prevent such IP Pool to be created.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. create ippool with cidr: 10.2.2.0/16
2. try to delete it, failed with:

   ` DEBU[2017-05-25T15:11:47+08:00]

[2017-05-25 18:03] caseydavenport commented on #425
Looks to me like there are two bugs here:

### Not properly handling pools that aren't in CIDR notation

### Not sending through the correct delete to etcd

This seems to indicate that we're sending through a delete to `/v2/ippools/10.2.2.0/16` rather than `/v2/ippools/10.2.0.0-16` which is what we should be doing.

I think we should either:
- Normalize all IPPool requests so that everything is re

[2017-05-25 19:06] robbrockbank commented on #425
The original intention was to normalize the request - but the more I think about this the more I think we shouldn't really be changing the value of an index field (so what you configure is not what you get).

So, I think policing against this is probably the correct fix.  Given that an incorrect configuration would have broken a calico/node deployment I think we can safely make this change.

[2017-05-26 18:26] robbrockbank commented on #425
Fixed by #426

[2017-05-26 18:26] #425 closed

[2017-05-26 23:10] #423 closed

[2017-06-01 10:00] xychu commented on #421
For me, it seem to be like three steps to accomplish this:

1. add `Labels` in `unversioned.ObjectMetadata` so that all the objects could be defined with labels;
2. accept query params in REST api and transfer to selector so that `List` interface should use a List Options with selector to filter the target objects;
3. update `calicoctl` to support selectors

[2017-06-01 14:16] fasaxc commented on #384
Checked; it doesn't.

[2017-06-01 14:16] #384 closed

[2017-06-01 14:17] fasaxc commented on #333
- [ ] Add context to logs around resync; which watch was it that failed?

[2017-06-01 14:21] fasaxc opened #433 "KDD may be resyncing too much"
It seems the k8s times out an inactive watch after about 30 minutes.  When one of KDD's watches times out, it does a full resync, which can be very expensive at high scale.  This introduces a lot of unnecessary latency if the watch that timed out could be restarted or only that resource resynced.

## Expected Behavior
If a watch for a low-traffic resource times out, reestablish it without doing fu

[2017-06-03 07:00] robbrockbank commented on #433
@caseydavenport:  I've been thinking about this a little with the KDD routing stuff - since I wanted to use that opportunity to refactor the various different ways we do stuff.  This could relatively easily be designed in.

[2017-06-03 17:24] caseydavenport commented on #433
@robbrockbank I was planning on looking at this later today or tomorrow.  Maybe we could chat if you've got some time.

[2017-06-06 12:57] fasaxc opened #439 "libcalico-go KDD Syncer 1.3.0 tight-loops on GlobalConfig"
## Expected Behavior
Syncer should be stable, only resyncing when it times out or an error occurs.

## Current Behavior
Syncer rapidly resyncs the GlobalConfig resource type:
[code]

## Steps to Reproduce (for bugs)
I started a Typha instance running in a k8s 1.7-alpha.4 cluster.  It immediately started spamming hte log as above.

[2017-06-06 17:08] #439 closed

[2017-06-07 02:09] #433 closed

[2017-06-07 17:27] fasaxc commented on #351
Work in progress on this PR but I haven't had time to finish off the UTs: https://github.com/projectcalico/libcalico-go/pull/380

[2017-06-12 12:47] fasaxc opened #450 "Panic caused by nil pointer making it through KDD Syncer"
@gunjan5  hit this panic in scale testing Typha:

[code]

While it's not clear why we're getting a nil pointer, the proximate cause is that we're trying to stringify a nil net.IP.

[2017-06-12 13:31] #450 closed

[2017-06-12 17:22] caseydavenport opened #452 "IP object can't be stringified if it's nil"
## Expected Behavior

Stringifying a Calico net.IP should work when the IP is nil, and print `<nil>`

## Context

From this comment: https://github.com/projectcalico/libcalico-go/pull/448#issuecomment-30775714

[2017-06-14 12:49] fasaxc commented on #382
@sege Sorry, we've let this get stale, is this issue still affecting your cluster?

[2017-06-29 14:41] fasaxc opened #465 "KDD selector generation is non-deterministic"
When KDD is making a Calico selector to capture some concept in the k8s API (for example translating a k8s selector or creating policies to implement namespace isolation) it isn't doing so in a deterministic way.  This results in unexpected churn in Felix/Typha since, although `foo == "bar" && baz == "biff"` matches the same endpoints as ` baz == "biff" && foo == "bar"`, they render as different i

[2017-06-29 14:49] fasaxc commented on #465
[code]

[2017-07-07 18:01] #465 closed

[2017-07-11 23:52] #47 closed

[2017-07-17 22:56] heschlie opened #477 "calicoctl fails when TPR does not exist"
When calicoctl is run against KDD and a TPR (GlobalBGPConfig in this case) is missing it fails to run.

## Expected Behavior

If the TPR is missing it should be created, or at least `EnsureInitialized()` should be called first.

## Current Behavior

[code]

## Possible Solution

Perhaps call `EnsureInitialized()` before reaching out to resources?

## Steps to Reproduce (for bugs)

1. Stand up k8s

[2017-07-17 22:59] robbrockbank commented on #477
Probably not super urgent as a calico deployment is likely to be running calico/node prior to configuring the TPRs (and the calico/node will create the TPRs as part of  initialization).

[2017-07-18 08:48] fasaxc commented on #382
Closing due to lack of activity.

[2017-07-18 08:48] #382 closed

[2017-07-21 12:19] fasaxc opened #478 "Persistent Syncer connection failures not exposed for readiness reporting"
If the KDD Syncer's watch ends with a persistent network error then it just keeps retrying (with warning logs) but it doesn't tell its client that it's having trouble.  Ideally, consistent failures would be exposed in some way, so that we can feed them into the healthcheck and report Felix/Typha as not ready.

## Possible Solution
- Could have the Syncer optionally register with the healthcheck
-

[2017-07-24 16:14] robbrockbank opened #480 "Seg fault applying Node using KDD if BGP section is empty."
If you apply Node resource configuration with an empty BGP section using KDD backend, we hit a seg fault in libcalico-go.

[code]

## Expected Behavior
BGP configuration should be removed from the node.

## Current Behavior
libcalico-go seg faults when applying configuration with an empty BGP section.

## Steps to Reproduce (for bugs)
Spotted using calicoctl.

[code]

[2017-07-24 22:44] heschlie commented on #480
@robbrockbank Just to clarify when we apply with an empty bgp spec we want it to remove all peering related information but  It should still leave the `projectcalico.org/IPv4Address` in place?

I've fixed the segfault but currently when there is peering or other BGP information annotated on the Node it does not remove it.  Steps I've done to verify:

[code]

peer.yaml
[code]

empty-bgp.yaml
[code]

[2017-07-24 22:45] robbrockbank commented on #480
It should remove everything I believe - the IPv4 annotation is also part of the BGP spec.

[2017-07-25 20:38] #480 closed

[2017-07-28 21:53] bcreane opened #485 "KDD doesn’t pass node IP information to Felix during resync"
Specific to KDD, when calico-node is restarted, we see a data plane connectivity issue that lasts 5-12 seconds. This issue is seen in both v2.3 and v2.4.

## Expected Behavior
Restarting calico-node should not result in data plane disruption.

## Current Behavior
Running intra-node iperf session, I observe a 5-12 second break in connectivity.

## Possible Solution

## Steps to Reproduce (for bugs)

[2017-07-28 21:56] caseydavenport commented on #485
Tracked this down to the KDD syncer not sending through Node IPs to Felix during its initial snapshot - [see here](https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/k8s/syncer.go#L781).

Felix thus removes the node IPs from the "all-ips" ipset and re-populates them as it receives subsequent watch updates.

[2017-07-28 22:27] bcreane commented on #485
A DROP rule was getting hit during calico-node restart, observed via (on each node):
    `sudo watch -d -c -n 0.1 "iptables-save -c -t filter | grep DROP"`

Subsequently watched the associated ipset change for a brief moment (on each node):
    `sudo watch -d -n 0.1 "ipset list cali4-all-hosts"`

[2017-08-01 22:37] caseydavenport commented on #478
@fasaxc does this affect KDD and etcd or just KDD?

Could this just be triggered by the Syncer indicating "WaitForDatastore"?

[2017-08-01 22:53] caseydavenport commented on #400
This should be really easy so adding to 2.5

[2017-08-01 22:54] #395 closed

[2017-08-01 23:06] #348 closed

[2017-08-01 23:07] #340 closed

[2017-08-01 23:08] #333 closed

[2017-08-01 23:11] #296 closed

[2017-08-01 23:11] #291 closed

[2017-08-01 23:12] #274 closed

[2017-08-01 23:14] #259 closed

[2017-08-01 23:14] #253 closed

[2017-08-01 23:15] #239 closed

[2017-08-01 23:15] #235 closed

[2017-08-01 23:21] caseydavenport commented on #75
This is actually a calicoctl issue.

[2017-08-01 23:21] #74 closed

[2017-08-01 23:21] #65 closed

[2017-08-01 23:22] #45 closed

[2017-08-01 23:23] #36 closed

[2017-08-01 23:23] caseydavenport commented on #36
Will add these as needed by a particular feature.

[2017-08-07 16:19] #485 closed

[2017-08-15 22:39] bcreane commented on #477
Now that we pre-create the policy/CRDs via manifest, we will not encounter this issue. Once Gunjan's fix for migrating TPR->CRD is complete, we can mark this resolved.

[2017-08-23 18:22] gunjan5 commented on #477
fixed in Calico v2.5.0 (libcalico-go v1.6.0)

[2017-08-23 18:22] #477 closed

[2017-08-25 08:24] fasaxc commented on #478
Yeah, that sounds like a good option.

[2017-08-25 08:28] fasaxc opened #501 "Memory leak in KDD Syncer if we fail to create watchers"
From @robbrockbank: "Because we aren't managing to create all of the Watchers, we never hit the part of the syncer loop that starts pulling events off the Watchers that we have created."

## Expected Behavior
No leak

## Current Behavior
Leaks significantly, if, for example the CRD manifests aren't installed so we fail to create CRD watchers.

## Possible Solution
I think the best solution would b

[2017-08-25 08:55] fasaxc commented on #501
This is being tracked over here: https://github.com/projectcalico/calico/issues/1057

[2017-08-25 08:55] #501 closed

[2017-09-01 19:54] caseydavenport opened #505 "Use "patch" instead of "update""
Calico should be using PATCH to update k8s resources so it doesn't conflict or write over other data in the k8s API.

Specifically, it should do this for the following resources that currently use update:
- [ ] Nodes/status (instead of current Update on Nodes)
- [x] Pods/status

I've seen this manifest on a 2k node cluster when calico is racing with something else when trying to update node resour

[2017-09-21 16:08] fasaxc commented on #452
I tried and tried to get this to work.  I don't think it's possible without restructuring the way we do the IP type.

[2017-09-21 20:25] bcreane commented on #400
we're no longer using the deprecated extensions api (libcalico-go extensions)

[2017-09-21 20:25] #400 closed

[2017-09-21 20:39] bcreane opened #525 "Restore client-go Extensions functionality"
## Expected Behavior
Calico should use client-go rather than libcalico-go's extension api.

## Current Behavior
As part of https://github.com/projectcalico/libcalico-go/pull/520, we bypassed Client-go's extensions api because there was no released client-go version that supports k8s v1.8.0.
The changes span multiple repos, including: k8s-policy, and libcalico-go.

## Possible Solution
Remove the u

[2017-09-25 18:18] ae6rt commented on #407
Another way to author pods with human-friendly CIDR names that does not involve changes to libcalico-go:  write a [k8s Initializer](https://kubernetes.io/docs/admin/extensible-admission-controllers/#initializers) that maps a human friendly name to a CIDR block of your choosing that calico can handle.

[2017-09-25 22:56] spikecurtis opened #535 "Return K8s permission error message to caller."
## Expected Behavior

When K8s API server denies a request, it includes an error message saying the user and the resource that was attempted to be accessed.  It would be really handy to return this message to the caller.

## Current Behavior

However, in converting to a Calico error, we just return a generic "connection unauthorized" string.

## Possible Solution

## Steps to Reproduce (for bugs)

[2017-09-26 18:04] heschlie opened #538 "Improve Kubernetes syncer creating watchers"
In the Kubernetes syncer we currently create the watchers before we fall into listening for events in the `kubeSyncer.ReadFromKubernetesAPI()` loop.  This logic works well most of the time but if you are missing a resource (like the GlobalNetworkPolicy CRD) then we never hit the `select` that lets us pull from the channels.

If we were to switch each watcher creation to a goroutine we could start

[2017-10-02 17:31] #370 closed

[2017-10-12 18:04] fasaxc opened #567 "Possible KDD regression"
The Felix k8sfv tests started failing when I revved libcalico-go from 2fe92aee8d834c63da485f6e3934c91cb42f948d to 4db56aa2f763478265b424ef04988cc6ddd30537

## Expected Behavior

Clean run!

## Current Behavior

4/5 runs in my test https://github.com/projectcalico/felix/pull/1568 failed with this error:
[code]

Detail:
[code]

Very odd output; the test passes this gate:

[code]

But then, after thi

[2017-10-13 10:03] fasaxc commented on #567
Seems to pass reliably if I only run that single test.

[2017-10-13 12:27] fasaxc commented on #567
I've tracked this down to an interaction between the `disableNodePoll` flag and the recent KDD syncer changes.  We no longer set the `HostConfig` `needsResync` flag to false if the node poll is disabled.  That means that we resync `HostConfig` between every event, slowing the syncer down to ~10 events/s in this scenario.  If the previous test happened to delete 100+ pods at the very end then we we

[2017-10-13 12:52] #567 closed

[2017-10-15 00:48] robbrockbank commented on #538
The v3.0-integration branch has a SyncerWatcher implementation that does just that...

[2017-10-19 08:36] fasaxc opened #598 "Fix named ports + kubeadm: support duplicate named port names (seen in the wild)"
We have validation that prevents duplicate port names on a workload, but, despite its docs, k8s does seem to support that and we've seen it in the wild (kubeadm uses duplicate metrics ports on its pods, for example).

[2017-10-20 18:33] tmjd opened #613 "Cannot do PodToWorkloadEndpoint without Nodename"
While porting the cni-plugin to the v2 api I was seeing `error with field node = '<nil>' (field should be assigned)`.  This seems to be due to `pod, err := client.CoreV1().Pods(string(podNamespace)).Get(podName, metav1.GetOptions{})` which is retrieving the pod from the K8s api not having the pod.Spec.Nodename populated.

## Expected Behavior
Can covert PodToWorkloadEndpoint to get the labels, ann

[2017-10-20 20:26] tmjd commented on #613
This was an issue with testing only using K8s apiserver (no scheduler). After fixing the test this is not a problem.

[2017-10-20 20:26] #613 closed

[2017-10-21 03:31] caseydavenport commented on #598
@fasaxc I believe this has been fixed?

[2017-10-21 23:33] caseydavenport opened #618 "Profile.Spec.LabelsToApply shows up incorrectly in yaml"
[code]

## Expected Behavior

spec.labels should be spec.labelsToApply

[2017-10-21 23:33] caseydavenport commented on #618
For more context, it doesn't match the struct naming.

[2017-10-24 13:45] fasaxc opened #624 "Panic in k8sWatcherConverter"
Seen in felix's log during a k8sfv test run with `JUST_A_MINUTE=true USE_TYPHA=false make k8sfv-test`

## Expected Behavior
No panics!

## Current Behavior
See this panic about once every 60s in the logs:
[code]
## Your Environment

* libcalico-go version: 80853cf81b74dbde7b6c55dae0d52cfe8e0001c9
* felix version: 0aba6bc56f0a8990795e2ae491a13bd22b0c4683
* Operating System and version: Ubuntu 16.04

[2017-10-24 14:22] fasaxc opened #625 "I think watcherCache always generates UpdateTypeKVNew during resync"
Looking for the source of a ref-counting issue in Felix.  If I'm reading the code correctly, this bit of code:
[code]

- does a list, which will return KVPairs for all resources in the datastore
- zeros out `wc.resources`
- calls though to `handleWatchListEvent`, which checks `wc.resources` to tell whether the value is an update or a new key; that test will always return "new" because it was zeroe

[2017-10-24 14:35] fasaxc commented on #625
Hmm, actually, maybe that case is covered by `markAsValid()` so probably a red herring.

[2017-10-24 14:35] #625 closed

[2017-10-24 14:47] fasaxc commented on #624
Looks like the offending event is a zero struct so `Type = ""`.  Could mean the channel was closed.

[2017-10-24 17:50] #624 closed

[2017-10-26 19:53] caseydavenport commented on #525
This is fixed in master.

[2017-10-26 19:53] #525 closed

[2017-10-26 20:35] #618 closed

[2017-10-27 13:11] fasaxc opened #637 "v2 datamodel KDD syncer isn't filtering host-networked pods"
Host networked pods are being passed through to Felix, with a made-up `caliABCD` interface name, for example:

[code]

## Expected Behavior

Host networked pods shouldn't be passed through to Felix (or if there's a reason for passing them through, we need to adjust Felix).

## Current Behavior

Felix programs dispatch and per-endpoint chains for the phantom interfaces.  I don't think that has any

[2017-10-27 13:25] fasaxc commented on #637
From a quick code read, looks like `IsCalicoReadyPod()` is only being called for `Get` and `List` operations but it is omitted form the `Watch` path.

[2017-10-27 18:17] fasaxc commented on #637
Upgraded to a P1 because I think this could cause nasty dataplane churn (and confusing logs)

[2017-10-30 20:46] ozdanborne opened #640 "Getting a WEP that does not exist should return an error"
Getting a wep that does not exist should return an error.

## Expected Behavior

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

[code]

## Context

## Your Environment

* libcalico-go version:
* Operating System and version:
* Link to your project (optional):

[2017-10-30 20:51] ozdanborne opened #641 "Creating a pool without a name should return an error"
Creating a pool without a name should return an error

## Expected Behavior

I'd expect an error to be returned.

## Current Behavior

Pool creation silently fails

## Possible Solution

Pool creation should return an error when no name is supplied.

## Steps to Reproduce (for bugs)

[code]
## Context

Was trying to create a pool then create an affinity block within the pool. But was receiving an

[2017-11-03 21:07] caseydavenport commented on #538
Fixed in v3.0 alpha.

[2017-11-03 21:07] #538 closed

[2017-11-03 22:35] #637 closed

[2017-11-07 06:26] heschlie commented on #640
@ozdanborne Do you recall what versions you were seeing this against, I popped that test into the WEP UTs and it passed, and I don't see us trimming any errors out in the plumbing for WEP gets.

I'm testing against the current latest master (e8d93a6ef128b79fddc09e5f673386c46cab6d10).

[2017-11-07 09:29] fasaxc opened #657 "Validator allows a profile with ICMP fields but no protocol"
Originally reported here: https://github.com/projectcalico/felix/issues/1606

It causes Felix to panic because iptables doesn't support such a rule.

Hi, calico experts.
I am testing calico HostProtection.

## Expected Behavior

If policy yaml need to specify protocol, calicoctl should outputs validation error.

## Current Behavior

I created profile for hostendpoint via calicoctl.

[code]

I crea

[2017-11-07 18:31] #641 closed

[2017-11-08 18:56] #640 closed

[2017-11-10 13:41] lwr20 opened #669 "Bad TTFP and crashing Felix in KDD scale/churn test"
I'm running a 10 node scale/churn test.  Same setup as ET's etcd rig.
99%ile is bad:
[code]
calico-node logs show that Felix is cyclically crashing:

[code]

[2017-11-10 13:42] lwr20 commented on #669
Crash seems to be every couple of minutes.
[code]

[2017-11-10 13:43] lwr20 commented on #669
Git commit hash (from Felix logs above) show that its the current felix master - and that appears to be using the latest libcalico-go master

[2017-11-10 13:59] fasaxc commented on #669
Looks like the problem is that

- `networkPolicyWatcher` is trying to cast the value before it checks if there was an error.
- It then bails out of the loop, closing the channel without sending on the terminating event, so the downstream watchercache gets an unexpected channel-close instead of a final event.
- The watchercache is supposed to handle that case, but it looks like there's a missing `c

[2017-11-10 20:51] #669 closed

[2017-11-13 22:05] robbrockbank opened #674 "IPAM error handling should be improved"
Some of the error handling in the IPAM module could be improved.

For example, we have cases where we Panic in ipam.go if we hit errors in the updates of the handle struct - where we should probably return errors.  Even better if there was a recovery path.

Some of our retry processing doesn't check the error type where is possibly should (since not all errors would be suitable for retries ... pos

[2017-11-16 16:16] fasaxc opened #684 "New lower-case name restriction may be incorrect for some uses"
We use the "name" validator in a lot of places in the v3 datamodel and the name now restricts to lower case:

[code]

I think at least some of those fields may need a more loose validation:

- `containerID`: the CNI spec just says this will be "plain text"
- `Orchestrator` `Workload` `Pod`, `Endpoint`: not sure these are guaranteed lower-case
- `Profiles`: could be mixed case before v3

[2017-11-16 16:37] caseydavenport commented on #684
Yes - I think this should be more permissive.

Yep. Pod is guaranteed to be lower-case, but the others may have mixed case, though for Workload and Orchestrator we have some control over the values that get put there.

If you mean the name, then all names for all resources are lowe-case only in Calico v3.

[2017-11-20 15:15] aaronbbrown opened #689 "Addresses are allocated from disabled ipPools"
When the `spec.disabled` parameter in an ipPool is set to `true`, IP addresses are still allocated from the disabled pool when using `calico-ipam`.

## Expected Behavior

Intuitively, I would expect that after disabling an ipPool w/ `calicoctl apply -f ippool.yaml` (using the yaml below), IP addresses will no longer be allocated from the pool that has been disabled.  If this is not an accurate ass

[2017-11-20 15:50] fasaxc opened #690 "Able to create host endpoint with empty nodename"
Writing an FV for Felix, I accidentally created a host endpoint with no nodename and it was accepted.  I think that should be validated against.

## Expected Behavior

Rejected with error

## Current Behavior

Accepted, not sure what Felix does with it.

## Possible Solution

Add validation.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* libcalico-go version: c2

[2017-11-24 16:30] fasaxc opened #695 "Scary/spammy info logs as watcher restarts watches"
Grepping for "error" in the felix/typha logs now turns up this background traffic over and over as we restart each watcher that times out.  We should at least squash the word "Error", which users will ask about even though it's an info log.  Ideally, we'd squash all these logs unless there's a "real" error, which really just mean "nothing happened so I'm renewing the watch".

[code]
## Expected Be

[2017-11-29 15:06] aaronbbrown commented on #689
Hey, I suspect you folks are getting ready for KubeCon and pretty busy, but I'd ❤️  if I could get a 👍 / 👎 on whether this behavior is intentional/expected or if this might be a bug. Thanks!

[2017-11-29 16:46] caseydavenport opened #704 "Switch to networking.k8s.io instead of extensions"
https://github.com/kubernetes/kubernetes/pull/56425

Extensions is deprecated in v1.9. We should swap over to the networking.k8s.io API before this happens.

Will require changes in libcalico, kube-controllers, and in our RBAC manifests.

[2017-11-29 18:28] caseydavenport commented on #689
@aaronbbrown yes, sorry for taking so long for responding here!

I think this is unintentional - @robbrockbank do you agree?

[2017-12-01 10:06] fasaxc opened #712 "FelixConfig loses precision vs Felix's config parser"
Felix supports fractional seconds/millis for `time.Duration` fields but those have been mapped through to `*int`s on the FelixConfig type.

## Expected Behavior

Should be able to set a fractional number of seconds for, say `IptablesPostWriteCheckIntervalSecs`, but it's typed as an int.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your E

[2017-12-01 18:11] caseydavenport commented on #712
Should probably change those config options to support `*time.Duration`

[2017-12-01 23:18] tmjd commented on #689
I added a test here https://github.com/tmjd/cni-plugin/commit/e302124145704ea2f17094062ad347f5f9d3955a, that shows the unexpected behavior I believe.

[2017-12-02 00:58] joewilliams commented on #689
@tmjd thanks! I am having some issues getting tests running on my local but that does indeed look like it replicates the behavior we were seeing.

[2017-12-02 09:21] fasaxc opened #716 "k8s_test.go tries to defer It() blocks and assumes test ordering"
Code reading k8s_test.go, it's trying to do things like deferring `It()` calls, which makes no sense given ginkgo's approach to collecting specs.

The correct way to run teardown code is in an AfterEach or AfterSuite block.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* libcalico-go version:
* Oper

[2017-12-04 06:51] caseydavenport commented on #716
@fasaxc what is the impact of this? Could it result in flaky tests?

Could you assign a priority to this issue?

[2017-12-04 09:43] fasaxc commented on #716
Depends how we run ginkgo.  If ginkgo is configured to randomise the order of these specs then the deferred `It()` may run out-of-order.  If not, then the test will do what the developer expected (run the tear down test last), but for the wrong reason.

[2017-12-04 09:43] fasaxc commented on #716
I'd put it at a P2: it's wrong and it could cause confusing hard to understand failures later but it's not causing any immediate harm.

[2017-12-04 09:45] fasaxc commented on #716
@doublek you wrote these tests, would you be able to fix them up at some point?

[2017-12-12 14:34] fasaxc opened #732 "watchersyncer_test flake?"
Possible syncer test flake, seen on a PR run: https://semaphoreci.com/calico/libcalico-go/branches/pull-request-725/builds/8

[code]

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* libcalico-go version:
* Operating System and version:
* Link to your project (optional):

[2017-12-12 19:48] aaronbbrown commented on #689
Hey @tmjd thanks 🙇 for adding that test.  Sure looks like what we were bumping into.

[2017-12-13 01:01] bcreane commented on #684
Discussed with @caseydavenport and decided to prioritize mixed-case containerIDs in v3 validation. Goal is to avoid breaking k8s-friendly container orchestrations such as rkt that allow uppercase letters in containerID.

[2017-12-13 01:12] caseydavenport commented on #684
To be clear, we haven't checked what values things like rkt and cri-o use for their container IDs.

If we can confirm they pass the validation then I don't think we need to do anything.

CC @gunjan5

[2017-12-13 01:27] bcreane commented on #684
I did discuss with @gunjan5 prior to the earlier comment. He mentioned that rkt does in fact support mixed case container names. Quoth @gunjan5

 "It doesn't make sense to be restrictive on something like containerID, especially in WEP spec
since the path containerID travels is orchestrator/kubelet -> CNI-plugin -> IPAM -> CNI -> libcalico/WEP/Datastore (where we validate)... which seems to be the

[2017-12-13 01:46] gunjan5 commented on #684
it's supposed to be a UUID. Seems like rkt uses this regex for their testing ``^[a-fA-F0-9-]{36}$` //UUID, close enough` (included the comment from their code)

[2017-12-13 01:50] gunjan5 commented on #684
cri-o doesn't seem to have anything other than being a `string` type

[2017-12-13 02:01] caseydavenport commented on #684
ok, so we should probably relax our restriction on the ContainerID field for v3.0.

I think the other ones can wait until we find a compelling reason.

[2017-12-13 02:58] #712 closed

[2017-12-14 22:37] #690 closed

[2017-12-15 19:34] caseydavenport commented on #684
We've addressed what we need to for v3.0.

I'll move to v3.1 to see if we need to do any of the others.

[2017-12-18 19:36] fasaxc opened #750 "Migration drops IPIP tunnel address"
Running uplevel Felix against backlevel Typha, hit this cyclic restart in felix:
[code]

Felix thinks the config that it loaded at start of day is different from that that typha sent in the snapshot.

## Expected Behavior

Pre/post migration data should agree.

## Current Behavior

Looks like the IPIP tunnel address is missing.

## Possible Solution

Add migration from the old config param to the

[2017-12-18 19:44] tmjd opened #752 "Migrating Node drops Address bits that are not part of the mask"
Running upgrade on a Vagrant cluster using etcd resulted in non-functioning cluster.
Looking at the `calicoctl get nodes` output for v1 vs v3 data shows that the `spec.bgp.ipv4Address` was losing the address bits and only keeping the mask bits.
`172.18.18.101/24` was becoming `172.18.18.0/24`

## Expected Behavior
Expect working cluster

## Current Behavior
Have a non-working cluster. No BGP peers

[2017-12-18 21:14] #752 closed

[2017-12-19 09:19] fasaxc commented on #750
Should be fixed by #754.  With me to retest...

[2017-12-19 10:45] fasaxc commented on #750
Doesn't appear to have been fixed with the latest calico/node master:
[code]
I believe the problem is that the fix in #754 only addresses etcd, but I was testing the GKE scenario, which uses KDD.

[2017-12-19 11:44] fasaxc commented on #750
So I think the problem is that, in v2.6.x, if a node has a podCIDR, then it has an implicit IpInIpTunnelAddress but in v3.0.0, we only consider it to have the implicit address if the node _also_ has other BGP configuration.

[2017-12-19 14:00] #750 closed

[2017-12-22 03:30] mdianjun opened #761 "Make ipam blockSize configurable"
Calico use one "/26" subnet of ipPool  in single node，but in our environment it's too large。
This couldn't be configured, it is hard code as follows:
[code]

[2017-12-22 18:24] caseydavenport commented on #761
Yeah, we've considered this before.

It should be possible, but the IPAM code does assume the block size doesn't change, so we'd need a way to make sure that once set it can't be changed while there are live allocations, and we'd need to make sure all nodes see the same block size.

[2018-01-18 00:50] bcreane commented on #704
@caseydavenport - any remaining work on this issue, or okay to close?

[2018-01-18 01:02] caseydavenport commented on #704
I think we're good to go on this one!

Thanks @bcreane for doing this :)

[2018-01-18 01:02] #704 closed

[2018-01-19 11:38] fasaxc opened #768 "libcalico-go API can modify input data"
Writing an FV test in Felix, I tried creating a GlobalNetworkPolicy, deleting it and then recreating it using the original struct.  I found that the original struct no longer passed validation because it had been modified by the Create() call to add a name prefix.

## Expected Behavior

Input data should be untouched.

## Current Behavior

Input data can be modified on certain calls.  This is clea

[2018-01-22 21:43] #768 closed

[2018-01-23 12:04] redbaron opened #770 "network policy named ports are not supported"
## Expected Behavior
Named ports in network policy are supported

## Current Behavior
Named ports cause explicit panic if not numeric: https://github.com/projectcalico/libcalico-go/blob/b2eca7082417b2fd940ab3eaac6af793d7cb06ff/lib/backend/k8s/conversion/conversion.go#L549-L553

## Context
Kubernetes spec says following regarding `port` field in network policy rules:

Field |  Description
-- | --
p

[2018-01-23 17:28] caseydavenport commented on #770
Named ports weren't introduced into Calico until v3.0.

I think we should leave https://github.com/projectcalico/felix/issues/1685 open because v2.6 shouldn't crash when given a named port.

However, I'm going to close this guy since v3.0 includes named port support, implemented [here](https://github.com/projectcalico/libcalico-go/blob/b2eca7082417b2fd940ab3eaac6af793d7cb06ff/lib/numorstring/port.

[2018-01-23 17:28] #770 closed

[2018-01-24 20:36] redbaron opened #772 "There should be no explicit panic() calls in this library"
This is somewhat related to https://github.com/projectcalico/libcalico-go/issues/770, libcalico-go being at the core of calico node should never be panicing. If it ever panics, whole  calico mesh goes down without a chance of recovery, since cause of panic would likely be processes again and again.

[2018-02-04 06:38] resouer opened #776 "The containerID regex may be too restrict"
https://github.com/projectcalico/libcalico-go/blob/d2fe70a7fc26fff6b08f2f91214cd129ec12426e/lib/validator/v3/validator.go#L55

In hypervisor based container runtime of Kubernetes (KataContainers), we have a containerID with "_" since we added some extra info to containerID which will be used later. While this prevents our users use latest Calico project.

Ref: https://github.com/kubernetes/frakti/

[2018-02-05 21:28] caseydavenport commented on #776
Related to this: https://github.com/projectcalico/libcalico-go/issues/684

I don't see why we can't relax that restriction - @robbrockbank anything I'm missing?

[2018-02-05 23:04] robbrockbank commented on #776
@caseydavenport :  I think we can, it might change how we cross-compare the WEP name to the host/orch/workload/endpoint identifiers but that can be done on a per-orchestrator basis.

[2018-02-05 23:17] resouer commented on #776
Thanks for positive response, generally container runtimes will assume plain text for containerID which alias with CNI spec and Kubernetes validation.

[2018-02-06 10:52] fasaxc opened #778 "IPAM can give same affinity to multiple hosts"
The IPAM affinity claiming process looks like this:

- pre-create the affinity
- try to claim the block
  - on success, return
  - on failure, try to delete the affinity (*)

If the cleanup on failure fails, it looks like we leave the datastore with an affinity that doesn't belong to the host.

When using an affinity, it doesn't appear that we check that the block actually matches this host.

Pres

[2018-02-14 10:50] edevil commented on #695
Yes, this made my blood pressure rise.

So there messages are innocuous?
[code]

[2018-02-14 11:14] fasaxc commented on #695
@edevil Yes, if the log level is `[INFO]` then it's not a problem even if the log itself talks about errors.

[2018-02-16 15:50] CharlieR-o-o-t commented on #778
Got the same
`
time="2018-02-16T15:44:31Z" level=info msg="Assigning IP 192.168.1.155 to host: xxxx"
time="2018-02-16T15:44:31Z" level=info msg="Host xxxx claiming block affinity for 192.168.1.128/26"
time="2018-02-16T15:44:31Z" level=info msg="Claimed new block: 192.168.1.128/26"
`

[2018-02-16 19:11] #657 closed

[2018-02-16 20:40] caseydavenport commented on #778
@CharlieR-o-o-t that shows the host claimed the affinity - do you happen to have logs showing that the affinity is claimed by multiple hosts?

[2018-02-23 20:02] ravilr commented on #761
@caseydavenport the documentation can cover that concern about not changing it in a running cluster right? In our setup, we don't expect to run more than 30 pods per node, so would be helpful to configure this to /27.

[2018-02-23 21:35] caseydavenport commented on #761
@ravilr docs for sure, but I'd also like a way to keep people from shooting themselves in the foot accidentally.

I'd definitely like to see this happen, but first need to decide on a config model, etc.

[2018-02-24 07:05] feisuzhu commented on #776
This affects me too.

I'm trying to use rkt 1.29.0 + k8s 1.9 + calico/node:v3.0.2 + calico/cni:v2.0.0 + calico/kube-controllers:v2.0.0, with `kubelet --container-runtime=rkt` （not CRI)， and run into the same problem.

[2018-02-27 21:48] ozdanborne opened #795 ""make clean && make all" fails due to deepcopy gen"
I'm running `make clean && make all` and my builds are failing because `make clean` removes the deepcopy boilerplate code, but none of the other steps (`all`, `test`) recreate the deepcopy code.

## Expected Behavior

`make` should succeed after `make clean`.

## Current Behavior

`make` fails after `make clean`.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

##

[2018-02-27 21:48] ozdanborne commented on #795
cc: @bcreane

[2018-02-27 23:09] feellifexp commented on #778
Does this bug affect v3.0 only or v2.6 is also affected?

[2018-02-28 01:19] caseydavenport commented on #778
@feellifexp as far as we know this bug affects both v2.6 and v3.0 (and likely earlier releases as well).

It should be a pretty uncommon occurrence but please let us know if you think you've hit it. I have a PR with a fix here: #785

[2018-02-28 18:45] ozdanborne opened #798 ""make test" fails unless you explicitly "make run-etcd && make run-kubernetes-master" first."
`make test` doesn't run etcd for you and fails unless you start etcd with `make run-etcd` and `make run-kubernetes-master` explicitly first. Is this intentional?

## Expected Behavior

running `make test` should pass on a fresh system.

## Current Behavior

`make test` fails on a fresh system.

## Possible Solution

Have `make test` depend on the `run-etcd` target and the `run-kubernetes-master` t

[2018-02-28 18:50] ozdanborne opened #799 ""make test" spits thousands of lines reading "warning: no packages being tested depend on <package-name>""
It's difficult to process test output when there are thousands of lines of text as follows;

[code]
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* libcalico-go version:
* Operating System and version:
* Link to your project (optional):

[2018-02-28 22:01] bcreane commented on #795
fixed in libcalico-go `master`.

@ozdanborne - should this fix get back ported to v3.0 / v2.0 branches?

[2018-02-28 23:29] caseydavenport commented on #795
@bcreane if you could open up cherry-picks against those branches that would be great.

[2018-03-01 01:04] bcreane commented on #795
This PR isn't relevant to v2.6.

[2018-03-01 01:04] #795 closed

[2018-03-02 17:19] #778 closed

[2018-03-07 18:04] #689 closed

[2018-03-07 18:09] joewilliams commented on #689
Thanks everyone! 🎉

[2018-03-09 01:30] caseydavenport commented on #772
Only one left after this: https://github.com/projectcalico/libcalico-go/pull/789/files

[code]

@ozdanborne say's he'll knock that one off too :)

[2018-03-09 07:31] caseydavenport commented on #452
Closing as wontfix for now

[2018-03-09 07:31] #452 closed

[2018-03-09 07:44] caseydavenport commented on #260
fixed in 3.0

[2018-03-09 07:44] #260 closed

[2018-03-09 18:46] #772 closed

[2018-03-09 19:31] #716 closed

[2018-03-13 17:46] fasaxc opened #820 "Malformed ip pool name causes crash"
Seen on Calico 2.6, if you have an IP pool in etcd that has an unexpected name format then we fail to parse it with a panic.

Example key: `/calico/v1/ipam/v4/pool/577559` (taken from an old OpenStack scale testing script).

## Expected Behavior

Warning log and drop.

## Current Behavior

[code]

## Possible Solution

Handle the error, log and drop instead of panicking.  Audit other key parsing f

[2018-03-14 09:34] fasaxc commented on #820
Correct.  It was written with an `etcdctl set` in this case.  In the real world, the user could modify etcd directly for purposes unknown or we could hit, for example, a memory corruption on write.

While both of those are rare (at least at 100-node scale?), the impact is that every felix cyclicly restarts.  In the old python felix, we tried very hard to avoid any kind of crash caused by invalid k

[2018-03-14 15:48] karstensi commented on #761
I am interested in this as well, it seems that having kubernetes clusters that can reach the max available pods (100 since k8s v1.2) on a node is not possible when using calico cni, when blockSize is fixed to 64.
https://kubernetes.io/docs/admin/cluster-large/

[2018-03-14 18:04] caseydavenport commented on #761
@karstensi Calico's IPAM supports > 64 pods on a node today. Once the 65th IP is requested, a new /26 block will be assigned to that node.

I do think it's still desirable to have this configurable at install time though.

[2018-03-15 04:51] karstensi commented on #761
ok that is good to know - thank you.

[2018-03-20 16:18] codertux opened #825 "HostEndpoint InterfaceName doesn't work with vlan interfaces (bond0.<vlan-id>)"
I'm trying to create the following HostEndpoint:
[code]

## Expected Behavior
It should successfully create the endpoint.

## Current Behavior
```Failed to execute command: error with field interfaceName = 'bond0.2103'```

## Possible Solution
I've found the following: https://github.com/projectcalico/libcalico-go/blob/master/lib/validator/v1/validator.go#L45 and https://github.com/projectcalico/l

[2018-03-22 00:25] caseydavenport commented on #825
@codertux thanks for raising this - I agree this looks like a bug.

@robbrockbank do you agree?

@codertux would you be interested in submitting a PR to fix that regex? I'm happy to review.

[2018-03-22 14:32] codertux commented on #825
Hi @caseydavenport, I'll try to submit a pull request this weekend! Thanks!

[2018-03-27 23:20] ivan-gusev commented on #761
Maybe make block size part of IPPool metadata? Calicoctl can then prohibit changes of blocksize. In our use case there is "default" IP pool which is happy with /26 block size and bunch of application specific IP pools. For application specific IPPool we dont expect to run more than handful of pods per node so /26 is a lot of waste.

[2018-03-29 09:19] codertux commented on #825
@caseydavenport, I see you've merged #830, what are the future steps?

[2018-03-29 16:34] caseydavenport commented on #825
@codertux we'll probably want to cherry-pick it into the v3.1 and v3.0 branches, and then we'll need to update the dependent packages (calicoctl, felix, etc) to pin the new version of libcalico. Then we'll need to just wait for a patch release from those streams.

If you'd like to submit the cherry-picks, that would be great. Otherwise I was planning to do it myself, and I'll get to it sometime in

[2018-04-16 17:34] tomdee opened #854 "Calicoctl doesn't give me a helpful message when I use CAPs"
[code]

[2018-04-19 18:11] tmjd commented on #854
The validation logic should give a more useful message.

[2018-04-30 05:49] nmeessen opened #860 "etcdv3 endpoint config not passed through to Felix"
Felix errors out with "felix.go 221: Failed to create datastore client error=no etcd endpoints specified" but an etcd endpoint has in fact been specified and is seen by the parser code (config_params.go) but gets lost before it gets to etcdv3.go.

## Expected Behavior
Felix should attempt to connect to the etcd endpoint set via the environment variable:

export FELIX_ETCDENDPOINTS=http://etcd01.bl

[2018-04-30 09:13] fasaxc commented on #860
@nmeessen agree this is a bug, did you manage to work past this?  I think you can set the `ETCD_ENDPOINTS` variable instead.

We added support for that variable to sync up with out other components but the old variable was still supposed to work.

[2018-04-30 12:35] fasaxc commented on #860
Glad I could help, we're trying the underlying issue here: https://github.com/projectcalico/felix/issues/1796 so I'm going to close this as a dupe.

[2018-04-30 12:35] #860 closed

[2018-04-30 23:29] nmeessen commented on #860
Just in case someone else runs into this when using a config file and not environment variables, as the linked issue hints, the workaround is to specify the datastore type in the config file, so:
`DatastoreType = etcdv3`
`EtcdEndpoints = http://etcd01.blah:2379`
works properly

[2018-05-10 04:28] sathishnec86 opened #862 "Calico ippool job is failing with the overlap CIDR error message for the pod CIDR"
Calico ippool job is failing with the overlap CIDR error message for the pod CIDR

## Expected Behavior
ippool job should run successfully

## Current Behavior
ippool job fails with the below error message.
[code]
I tried with different CIDR as well (10.10.0.0/16) same error. If i configure some other CIDR other than cluster POD CIDR job runs success.

## Possible Solution
job should run if it mat

[2018-05-10 05:04] sathishnec86 commented on #862
[code]

[2018-05-10 17:54] sathishnec86 commented on #862
@caseydavenport Thanks for your help. Closing this issue as it was misunderstanding and configuration from my side.

[2018-05-10 17:54] #862 closed

[2018-06-07 17:08] #820 closed

[2018-06-07 20:39] #535 closed

[2018-06-08 18:30] #854 closed

[2018-06-13 16:27] caseydavenport opened #888 "Don't require write access to pods (use pod/status)"
## Expected Behavior

What's described here: https://github.com/kubernetes/kubernetes/pull/65022#discussion_r195087195

Should be an easy fix. Will required adjusting our RBAC yamls once implemented.

## Current Behavior

We write to the pod API.

## Possible Solution

Write to the pod/status subresource instead.

## Context

What's described here: https://github.com/kubernetes/kubernetes/pull/650

[2018-06-14 23:49] tomdee commented on #798
I fixed this

[2018-06-14 23:49] #798 closed

[2018-06-14 23:52] tomdee commented on #799
I think this is coming from gocov

[2018-06-14 23:53] tomdee opened #891 "Tests fail with K8s 1.10.4"
Hit in PR #890
More diags at https://semaphoreci.com/calico/libcalico-go/branches/pull-request-890/builds/3
[code]

[2018-06-15 01:00] #799 closed

[2018-06-15 14:36] fasaxc commented on #888
Looks like key difference with the example in that thread is setting the subresource.  I think that maps to this incantation on the go API:
[code]
I had tried patching the status before (but possibly without calling it out as a subresource?) in order to try the patch to the PodIP field directly.  That didn't work because kubelet clobbers it.  I don't think I've tried the exact incantation above (w

[2018-06-15 15:43] caseydavenport commented on #888
It's where the impact was most prominent for sure, but I think the risk is fairly low. I'd be happy to make this change without a scale re-test specifically for it.

[2018-06-26 08:04] #891 closed

[2018-07-02 13:37] peiqi-caicloud opened #899 "calico-felix build failed"
Hello, I am trying to build Felix manually to better control our network.
but I met a pb:

<img width="1440" alt="screen shot 2018-07-02 at 9 35 19 pm" src="https://user-images.githubusercontent.com/5621794/42167249-0852363a-7e40-11e8-8726-f4aaa2ccd289.png">

is it because the libcalico-go version is too old ? or do you have some suggestions

[2018-07-02 20:38] caseydavenport commented on #899
@peiqi-caicloud is this a master build? Have you made changes to libcalico or Felix?

[2018-07-03 00:40] peiqi-caicloud commented on #899
@caseydavenport

Hello,

my cni-plugin and Felix version : release-v3.1. my lib calico-go version is 6b28e7cc060a90b5a96582b03cf42521abc39347. as noted in glide.yaml

I found in my k8s.io/apimachinery/pkg/runtime/scheme.go, there is only AddGeneratedConversionFuncs. no scheme. AddGeneratedDeepCopyFuncs. I found no AddGeneratedConversionFuncs in every different version of apimachinery lib.
my apima

[2018-07-03 00:40] peiqi-caicloud commented on #899
I made no changes to Felix at this moment.

[2018-07-03 00:57] caseydavenport commented on #899
@peiqi-caicloud what command did you run to build this?

[2018-07-03 01:08] peiqi-caicloud commented on #899
go build in the dir cmd/calico-felix

[2018-07-03 01:08] peiqi-caicloud commented on #899
@caseydavenport

[2018-07-03 23:37] caseydavenport commented on #899
@peiqi-caicloud that's likely why - I don't believe that's a supported operation at the moment.

You should use the Makefile targets for building Felix.https://github.com/projectcalico/felix/blob/master/Makefile#L45-L52

Simply typing `make` in the project root should do it.

[2018-07-03 23:37] #899 closed

[2018-07-11 05:54] peiqi-caicloud opened #903 "BlockPrefixLength configurable"
Hello,

can we make BlockPrefixLength configurable instead of fixing it as 26 ???

[2018-07-11 14:21] caseydavenport commented on #903
Closing as a duplicate of https://github.com/projectcalico/libcalico-go/issues/761

[2018-07-11 14:21] #903 closed

[2018-08-23 22:26] caseydavenport commented on #695
I believe these have been fixed in master be a couple of PRs:
- https://github.com/projectcalico/libcalico-go/pull/915
- https://github.com/projectcalico/libcalico-go/pull/909

These will show up in v3.3, unless someone feels like cherry-picking :)

[2018-08-23 22:26] #695 closed

[2018-08-23 22:29] caseydavenport commented on #732
Tests have been green for a long time - I'm going to close this for now.

If we see it pop up again than we can revisit.

[2018-08-23 22:29] #732 closed

[2018-08-28 03:25] jemygraw opened #917 "The depended library github.com/coreos/etcd has changed the field name of the struct TLSInfo"
This project has a dependency on library github.com/coreos/etcd, which has changed its field name of the struct TLSInfo. So this project build breaks when using the latest copy of its dependency.
The error is like this:
[code]

## Expected Behavior
Build Success

## Current Behavior
Build Breaks

## Possible Solution
Change the field name of https://github.com/projectcalico/libcalico-go/blob/maste

[2018-09-12 21:17] caseydavenport commented on #917
@jemygraw We currently pin the etcd dependency here: https://github.com/projectcalico/libcalico-go/blob/master/glide.yaml#L6

Master appears to build fine. Is there a reason you want to use a new version of the etcd library?

[2018-10-02 23:29] caseydavenport commented on #761
This has been merged in https://github.com/projectcalico/libcalico-go/pull/931 and is targeting Calico v3.3.0.

[2018-10-02 23:29] #761 closed

[2018-10-08 20:00] caseydavenport commented on #112
Calico v3.3.0, to be released in the next couple of weeks, will include support for this, so I'm going to close this issue.

[2018-10-08 20:00] #112 closed

[2018-10-24 15:24] aarnaud opened #944 "Needs to clear NodeNetworkUnavailable flag on Kubernetes"
Same issue : https://github.com/projectcalico/canal/issues/74

## Expected Behavior
Calico has to update the `NetworkUnavailable` status on node

## Current Behavior
`NetworkUnavailable` stay to `True` and you can't use the node

## Possible Solution
Calico has to update the `NetworkUnavailable` status on node

## Steps to Reproduce (for bugs)
Use calico on GCE with `kubelet --cloudprovider=gce`

[2018-10-24 15:29] aarnaud commented on #944
I'm working on a PR

[2018-10-24 15:49] aarnaud commented on #944
Have to add new authorization on `calico-node` :

[code]

[2018-10-24 20:03] aarnaud commented on #944
Move to https://github.com/projectcalico/node/issues/88

[2018-10-24 20:03] #944 closed

[2018-11-02 08:21] owenhaynes opened #949 "Workload Get does not work unless you provide a workload"
Please delete me should of used the V3client

[2018-11-02 23:57] #949 closed

[2018-11-03 01:47] caseydavenport commented on #421
We've done this in Calico v3.3 for BGP peers!

:raised_hands:

[2018-11-03 01:47] #421 closed

[2018-11-03 20:14] #888 closed

[2018-11-03 22:40] #75 closed

[2018-11-12 23:32] caseydavenport commented on #505
Probably don't want to use patch for nodes, since we still want CAS operations.
Best just to use the status subresource but still use Update()

[2018-11-12 23:33] caseydavenport commented on #505
FWIW I've run tests recently that no longer hit the conflict, but we still should drop our privileges so we only need status access.

[2018-11-12 23:59] #505 closed

[2018-11-16 09:22] fasaxc opened #973 "Hard to diagnose if when health checks fail"
The health aggregator is quite chatty about the current state, logging `summary=&health.HealthReport{Live:false, Ready:false}` whenever the health is queried.  However, it doesn't log which component is reporting unhealthly.

## Expected Behavior

Think the ideal behaviour would be:

- Always log any unhealthy components when the status is calculated.
- Only log the status itself if it has changed

[2018-11-27 06:53] zjcbit opened #981 "how to config ips of tunl0? I run calico in k8s, pods ip are assigned before config calico.but some ips would occupied by tunl0."
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* libcalico-go version:
* Operating System and version:
* Link to your project (optional):

[2018-11-27 18:32] caseydavenport commented on #981
For future issues, please fill out the issue template.

Calico automatically assigns IP addresses to the tunl0 interfaces on each node, that is expected. They should be from the same IP range as Kubernetes pods.

host networked pods use the IP addresses of the host they are running on.

[2018-11-27 18:32] #981 closed

[2018-12-02 03:43] zjcbit commented on #981
Can I assign ips(range as Kubernetes pods) for tunl0? instead of assign ips automatically？

[2018-12-03 22:45] caseydavenport commented on #981
You might be able to using the node resource: https://docs.projectcalico.org/v3.3/reference/calicoctl/resources/node

Not sure I understand why you'd want to though.

[2018-12-10 01:16] jsok opened #989 "IPAM Block does not protect against duplicates in Unallocated list"
[`AllocationBlock`](https://github.com/projectcalico/libcalico-go/blob/release-v3.4/lib/backend/model/block.go#L91) is a simple list and the code always assumes the values are unique.

## Expected Behavior

1. An assigned IP should not be assigned twice!
1. Whenever releasing IPs, the supplied list of IPs should be de-duped and handled defensively.

## Current Behavior

`IPAM.ReleaseIPs()` happily

[2018-12-13 10:22] jsok commented on #989
@caseydavenport happy to work on a fix if you have any guidance, otherwise I have a solution I can suggest via PR?

[2018-12-14 19:30] caseydavenport commented on #989
@jsok sounds like something reasonable to fix. The one thing I'm not sure on is how we're hitting this - which code is calling ReleaseIPs with duplicate entries? That feels like it could be a result of another bug elsewhere in the code?

[2018-12-18 19:55] caseydavenport commented on #261
We've added quite a few IPAM tests recently as we've been developing new features in this area - e.g., configurable block sizes, IP pool node selection, etc.

I think this should be closed - Reading through, I know from memory that we've already covered a large portion of these.

[2018-12-18 19:55] #261 closed

[2019-01-08 14:57] lixj1103 opened #996 "Why IPIP is not supported on an IPv6 IP pool"
## Expected Behavior
My environment is that IPv6 nodes are distributed in different VLANs,I need cross-subnet.

## Current Behavior
I found the code
[code]

## Your Environment

* libcalico-go version: calico v3.3
* Operating System and version: centos 7.4
* Link to your project (optional): kubernetes 1.13

[2019-01-15 00:48] jsok commented on #989
I've repurposed https://github.com/projectcalico/libcalico-go/pull/990 to act as a fix for this issue.

[2019-01-30 05:13] stephanh commented on #989
@caseydavenport any update on this issue? Is it possible to get #990 reviewed? This issue has hit us quite hard again today.

[2019-01-31 00:01] caseydavenport commented on #989
Sorry for the delay, I will try to review this week.

I'm still not sure how we're hitting this, though. I worry there is a bug higher up in the call stack which is causing this scenario to get hit. What might be calling release with duplicate IPs?

[2019-01-31 07:16] jsok commented on #989
@caseydavenport yes I’m stumped as to how this is triggering in my cluster. The etcdctl / jq snippet in the Issue description definitely and regularly trips up duplicates in the list.

Looking at libnetwork I can’t see how it could be constructing a release request with duplicate IPs...

[2019-02-06 23:54] caseydavenport commented on #684
I think the main thing remaining here is the continerID validation, which is tracked here: https://github.com/projectcalico/libcalico-go/issues/776

[2019-02-06 23:54] #684 closed

[2019-02-07 18:47] #989 closed

[2019-03-08 03:23] caseydavenport commented on #478
Went to have a look a reproducing this today and saw something perhaps interesting (or maybe I'm just tired?)

I noticed that following the repro steps of killing the apiserver _did _ result in Felix going to not-ready in KDD mode. Looking closer though, it only seems to do so after receiving an update over the syncer that says the IPIP tunnel address has been deleted, triggering Felix to restart.

[2019-03-08 04:52] caseydavenport commented on #478
Ah! Figured it out. With debugging on I spotted that the watchersyncer was sending a bunch of deleted through for the node objects, seemingly it thought that the nodes had disappeared!

Tracing it back, turns out we weren't returning an error on a failed List() call for nodes only...I think this will do the trick: https://github.com/projectcalico/libcalico-go/pull/1057

I'll try with that, expecti

[2019-03-08 04:55] caseydavenport commented on #478
OK, can confirm this is still an issue!

[2019-03-08 05:03] caseydavenport commented on #973
We get _some_ output from `kubectl describe`, but for Felix that output is typically just "It failed" (the BIRD output is usually much more detailed and useful to the user).

Felix usually spits out something like this:
[code]

It would be awesome if we could expose this sort of information through kubectl describe as well as part of this.

[2019-03-14 15:51] KEZHwMlXV1vFzs6QvY8v5WjX5 opened #1060 "egress rule to api server not working because of calico?"
## Expected Behavior
pod wants to reach the api server port 443

## Current Behavior
dial tcp 172.31.0.1:443: i/o timeout

## Possible Solution
It looks like there is none, yet but here is a description that matches our situation:

https://stackoverflow.com/questions/50102943/how-to-allow-access-to-kubernetes-api-using-egress-network-policy

## Steps to Reproduce (for bugs)
use a default deny egre

[2019-03-18 21:09] caseydavenport commented on #1060
This clause isn't going to work for the apiserver, since it is likely running with `hostNetwork: true`.

NP selectors/namespaceselectors only apply to pods which are not sharing the host network.

You can probably use something like Calico `GlobalNetworkPolicy` and `HostEndpoints` to do this, though.

[2019-03-28 15:57] #478 closed

[2019-04-05 10:33] #973 closed

[2019-04-05 17:35] #1060 closed

[2019-04-17 08:15] #351 closed

[2019-08-20 01:06] 1032120121 opened #1118 "how to compatible data of etcdv2 and etcdv3"
my data is in etcdv2, i hope using clientv3 to operate my old data in etcdv2, how do i do?

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* libcalico-go version:
* Operating System and version:
* Link to your project (optional):

[2019-08-20 14:40] tmjd commented on #1118
I am not clear on the question you are asking. I am assuming you are wanting to upgrade your Calico installation from etcd v2 datastore to etcd v3. You should look at https://docs.projectcalico.org/v3.5/getting-started/kubernetes/upgrade/ to do that.

[2019-08-22 08:39] svyotov opened #1120 "Create GitHub releases"
Would it be possible to create GitHub releases? I can see that the last official GitHub release was in 2017 : v1.7.3, or do you have a different release cycle?

[2019-08-22 20:13] caseydavenport commented on #1120
We've stopped making github releases of libcalico-go since it's not a "product" deliverable.

What's your reason for wanting releases?

[2019-09-04 12:55] thelo-gaultier opened #1125 "Fail to contact public endpoint during postStart lifecycle hook"
I create a pod with a podStart lifecycle hook that should fetch some content on the internet

[code]

Here the return code is store into a variable just not to fail when the curl command fails.

## Expected Behavior
The ```curl``` command should succeed and properly get ```http://www.google.com``` webpage

## Current Behavior
During the postStart hook, the pod has the status ```containerCreating``

[2019-09-04 20:46] caseydavenport commented on #776
This is what the CNI spec says. So, it does include the `_` `.` and `-` characters.

Like we identified before, this is unfortunately a bit tricky due to the fact that Kubernetes API objects do not allow `_` characters in their names. It will require some design thinking on how we can allow this.

[2019-09-09 09:09] fasaxc commented on #1125
Hmm, probably an issue with which pods we consider as "alive".

[2019-10-02 13:05] tlkamp commented on #1125
We are also having this same issue with EKS on AWS, using the exact same manifest.

[2019-10-24 12:38] ymmt2005 opened #1153 "Go module support is incomplete"
Although libcalico-go has `go.mod` and its major version is tagged as `v3`,
the module name is still `github.com/projectcalico/libcalico-go` lacking
`/v3` suffix as required for [semantic import versioning](https://github.com/golang/go/wiki/Modules#why-must-major-version-numbers-appear-in-import-paths).

## Expected Behavior

`go get github.com/projectcalico/libcalico-go@v3.11.0-0.dev` should succ

[2019-11-06 00:28] rafaelvanoni commented on #1120
Closing due to inactivity, please add a comment if this is still an issue and we'll re-open it.

[2019-11-06 00:28] #1120 closed

[2019-11-21 12:18] konghui opened #1167 "can't find the /bgp and /v1 in the etcd store"
I read the confd template. It use many etcd keys like

[code]

But when I use etcdctl show the keys I can't find any keys startwith like `/calico/v1` and `/calico/bgp`
but the confd was render the configuration success! It seem the keys is exists in the etcd.

I read the document [here](https://github.com/projectcalico/libcalico-go/blob/release-v3.7/docs/data-model.md) it show that `/calico/bgp` a

[2019-11-22 04:14] tmjd commented on #1167
I think that document you linked to is the structure used in Calico v2.x, with the change to the v3 data model that document is only correct for the places where we still use the v1 data model, like in confd (I believe it is the syncer that converts our v3 data into the v1 data model).
We might need to just change the description of that document that it is the v1 data model and is not representat

[2019-11-22 07:37] konghui commented on #1167
But I want to know why confd can use the key start with  `/calico/v1` and `/calico/bgp`  not exist in the etcd, but It can render the template success!  I remeber that confd is direct get the key from the etcd and replace it with value in the template. I read the source code it seems you don't change the logic in the confd.

[2019-11-22 15:00] tmjd commented on #1167
My understanding is that confd does not read from etcd directly but now only goes through libcalico-go which is responsible for a translation between the v1 and v3 data models. So the keys confd uses are still referencing the v1 data model and libcalico-go converts them to the v3 model.
@caseydavenport or @neiljerram, could one of you confirm my understanding here. Thanks

[2019-11-22 15:01] neiljerram commented on #1167
@tmjd Yes, that is right.

[2019-11-22 15:04] neiljerram commented on #1167
@konghui Our fork of confd has now diverged a lot from the upstream.  Whereas the upstream (kelseyhightower) confd performs a straightforward mapping from etcd content to the template files, I'm afraid our fork is now much more complex than that.

Do you have any more specific questions that we could help with?

[2019-11-25 08:23] konghui commented on #1167
Ok I get it .Thank you very much.

[2019-11-25 08:23] #1167 closed

[2019-12-02 21:39] #1118 closed

[2019-12-05 21:01] spikecurtis commented on #1125
I have an update for you: the root problem is that Kubernetes isn't updating the `podIP` field while the container lifecycle hooks are firing. Without this Calico doesn't learn the pod's IP address and can't properly set up policy. Currently this seems to only be set after the pod moves out of `ContainerCreating` phase.

The reason that we don't see this issue when using the Calico CNI plugin is t

[2020-03-09 07:57] zhipengzuo opened #1198 "how can i user libcalico-go v3 with go mod"
can't use libcalico-go with go mod
## Expected Behavior

## Current Behavior

when i cmd " go get github.com/projectcalico/libcalico-go/lib/apis/v3"
shows "go get github.com/projectcalico/libcalico-go/lib/apis/v3: module github.com/projectcalico/libcalico-go@upgrade found (v1.7.3), but does not contain package github.com/projectcalico/libcalico-go/lib/apis/v3"

if i change the parameter "github.co

[2020-03-09 20:43] rafaelvanoni commented on #1198
@zhipengzuo I think you might be mixing Calico's internal API versioning (libcalico-go/lib/apis/v3) with our /release/ versions. I tried your `go get` command and it's working here.. maybe a connectivity issue on your end?

[code]

[2020-03-10 02:24] zhipengzuo commented on #1198
this also doesn't work.maybe the env is different.
go: cannot use path@version syntax in GOPATH mode

`go: finding github.com v3.14.0-0.dev
go: finding github.com/projectcalico v3.14.0-0.dev
go: finding github.com/projectcalico/libcalico-go v3.14.0-0.dev
go get github.com/projectcalico/libcalico-go@v3.14.0-0.dev: github.com/projectcalico/libcalico-go@v3.14.0-0.dev: reading https://goproxy.cn/githu

[2020-03-10 02:24] #1198 closed

[2020-04-30 08:25] lyyao09 commented on #996
Any updates? Same problem for me.

[2020-05-12 22:09] caseydavenport commented on #1153
Just to clarify, we don't cut releases of libcalico-go. It's not a publicly supported API right now, and we don't tag / release the repository. So, I think that this is out of scope.

If you really need to import it, I recommend just using a specific git hash for now. That is what we do for the upstream Calico repositories that make use of libcalico.

[2020-05-12 22:09] #1153 closed

[2020-05-13 19:33] caseydavenport commented on #996
Copied from the other post ^

[2020-05-14 01:39] YanzhaoLi opened #1236 "Takes a long time to find and allocate a new IPAM block"
When I was doing scale test, the rateLimiter blocked the request of ipblock.
The timeout of  cni-plugin is hardcoded 90s, could I change the config.QPS or config.Burst  by environment variable or any other ways?

BTW, I noticed the ipam client query each IPblock and test its validation.
Why not request all IPblocks at one time and find the valid IPblock. And then ask kube-apiserver to update the i

[2020-05-14 07:12] lyyao09 commented on #996
@caseydavenport For k8s cluster node in multi subnet/zone with ipv6, if there is no vxlan that supports ipv6, how to use calico to ensure pods communication between different subnet/zone?

[2020-05-18 06:36] zackzhangkai commented on #860
I also have the issue.
[code]

[code]

[code]

[code]
![image](https://user-images.githubusercontent.com/20178386/82181248-bf885500-9914-11ea-819c-4c8e3aad6043.png)

I install calico as the official site:
https://docs.projectcalico.org/getting-started/bare-metal/installation/binary

Now what can I do? What's wrong with it? Thank you .

[2020-05-28 16:51] NeilW commented on #996
I've just tripped across this while trying to get k8s Dual Stack working on the Brightbox Cloud.

Obviously there is no ability to peer BGP with the fabric network, and Brightbox Servers have isolated L3 iPv6 networks. The servers do not share a Layer 2. That means the BGP route we get injected into a k8s node by Calico appears pointless, since it just mirrors the default route.

[code]

(`fd00:c0

[2020-05-29 15:38] caseydavenport commented on #1236
@YanzhaoLi sorry for the delay - could you share more about what type of scale test you were doing? What is the setup like? Is this on a real cluster or simulated in some way? How many pods / nodes / etc?

We could adjust the burst probably for the CNI plugin (I don't think a config option exists today). But we've tested this in the past at scale and have had no issue with the current settings so

[2020-05-30 02:34] YanzhaoLi commented on #1236
50000pods on 500nodes,  IPBlockSize=64, 1024 IPBlocks.
At worst, to query for a valid IPblock, the IPAMclient would query for 1024 times.
For current RateLimiter(5, 100), with the timeout 90s, the IPAMclient can handle at most 5 * 90 + 100 = 450 times of queries.

[2020-06-05 19:03] caseydavenport commented on #1236
This is our current QPS configuration: https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/k8s/k8s.go#L263-L271

Yeah, this might fix the issue here. It would mean we increase API server load in _some_ scenarios, where only one or two requests would suffice, but fix the worst-case scenario.

I would very much like to fix this by reducing the number of API requests needed rather t

[2020-06-05 20:00] caseydavenport commented on #1236
I think this PR will probably help a lot: https://github.com/projectcalico/libcalico-go/pull/1248

[2020-06-12 12:05] latteczy commented on #981
hi @caseydavenport . Is there a way to get the ip of tunl0?

[2020-06-12 19:41] caseydavenport commented on #1125
Closing this since this is an upstream k8s issue.

[2020-06-12 19:41] #1125 closed

[2020-06-15 15:42] #1236 closed

[2020-07-09 12:07] yousong opened #1267 "Long calico-node recovery time after kube-apiserver was gone"
Suppose we have master nodeA and nodeB, each running kubelet, kube-apiserver and calico-node

 - calico-node pod on nodeA connects to kube-apiserver through local ipvs service 10.96.0.1:443.  The real server for this ipvs connection is nodeB
 - kubelet connects to apiserver through vip managed by keepalived

Then we make nodeB offline, by powering it off, `ip link set xx down`, etc.

nodeB becomes

[2020-08-01 06:09] guoshimin opened #1273 "Use pagination when listing pods"
## Expected Behavior
When using the kubernetes backend, confd should be able to come up even when there is a large number of pods.

## Current Behavior
As part of initialization, confd lists all pods. When there is a large number of pods, it is observed on EKS that the kubernetes master may close the connection before the listing is complete. Got the following repeatedly in calico-node log:
[code]

[2020-08-03 18:26] caseydavenport commented on #1273
@guoshimin thanks for raising. I'm surprised by this because I know we've tested this at substantially higher scale than 2300 pods (albeit not on EKS to my knowledge).

Could you provide me a little bit more info about your cluster? How many nodes and pods/node are you running? What tool did you use to create the cluster? etc.

[2020-08-03 19:21] guoshimin commented on #1273
Our setup may be a little special. It's a custom setup. Our nodes are somewhat far away from the EKS master from a network topology point of view, and I suspect that the EKS master, which is run by AWS, closes connections after some timeout to protect itself. Our cluster is not large, about 20 nodes, and normally about 1000 pods.

[2020-08-03 23:57] guoshimin commented on #1273
I should add that when this issue happened, it took more than 1 minute to list all pods.

[2020-09-09 17:39] ewohltman opened #1305 "Using Semantic Version Tags for Releases Instead of Branches"
Hello,

Currently, the `RELEASING.md` file in this repo states:

[code]

Go Modules have become the official way to manage library dependencies for the language, and since this is a Go library are there plans to update the releasing strategy for this repo? Go Modules expects repos to be tagged using semantic versioning.

Thanks!

## Expected Behavior
[code]
Expected to get the latest released vers

[2020-09-09 22:29] caseydavenport commented on #1305
Hm, yeah this is a request we've received a few times now, so maybe we should consider some adjustments to our dev process to account for this.

In the past, our response has more or less been that we don't support libcalico-go as a generally available library to be used in downstream / external projects, and that is why we don't produce release tags for it.

If you look at the other Calico projec

[2020-09-16 01:02] ewohltman commented on #1305
Apologies for the delay, I wanted to think about my response to provide the best feedback.

First, I appreciate that it is awkward in Go to update major versions with a `/v3` directory so that you can create a new module path. I'm not sure if there is a better way that I have seen or people have discovered yet. With that said, considering how to accomplish it might be worth the investment of time

[2020-09-16 10:14] ewohltman commented on #1305
By the way, recently in Reddit's /r/golang subreddit the topic of major version changes has come up a number of times. For example: https://www.reddit.com/r/golang/comments/it95k7/gos_major_version_handling_sucks_from_a_fanboy/g5cy0ac

Initial major version 1 module
$ go mod init example.com/foo
$ git add go.mod && git commit
$ git tag -a v1.0.0

Going to major version 2 later
$ go mod edit -modul

[2020-10-14 12:51] jmf0526 opened #1329 "Ip go leaked when there is a etcd store network connection problem"
## Expected Behavior

Calico ipam can tolerate  network fault when updating ip block to etcd store, assigned ip should never got leaked (can be released)

## Current Behavior

I'm using annotation cni.projectcalico.org/ipAddrs to assign static ip to a pod, like

everything worked fine, and after the env had been running stably for a long time, the pod got evicted ( because of disk shortage on that

[2020-10-24 21:56] robbrockbank opened #1336 "Possible flake in IPAM test, or real bug in IPAM"
Spotted the following CI flake on a PR. The PR change is in an unrelated area, so either this is a test flake, or a genuine problem with the IP allocation code.

[code]

Full output from semaphore is below.  I'm afraid have not had a change to go through the logs.

[code]

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

##

[2020-11-12 10:23] svyotov opened #1342 "Issue/Feature: Go mod release compliancy"
This issue is an extension/addition to https://github.com/projectcalico/libcalico-go/issues/1305.

https://github.com/projectcalico/libcalico-go uses [Go modules](https://github.com/golang/go/wiki/Modules) and the current release version is v3. And it’s module path is "github.com/projectcalico/libcalico-go", instead of "github.com/projectcalico/libcalico-go/v3". It must comply with the specificati

[2020-11-12 17:36] caseydavenport commented on #1329
@jmf0526 this is an interesting one, sorry for missing it for so long!

It sounds like what you're suggesting is that etcd has returned an error to Calico even though it successfully handled the request? As a result, we think it failed and attempt to clean up, leaving ourselves in an unexpected state where the allocation exists but the handle has been removed. Is that right?

If so I'll need to th

[2020-11-12 18:02] caseydavenport commented on #1342
@svyotov thanks for the detailed issue! I believe that this is a duplicate of https://github.com/projectcalico/libcalico-go/issues/1305, so I would like to keep conversation in one place.

I commented on the calicoctl PR. I know that libcalico-go is way more of a gray area, since it is strongly implied to be a library :)

However, I think the same logic more-or-less applies. At the moment, the Cal

[2020-11-12 18:02] #1342 closed

[2020-11-13 02:23] dElogics commented on #860
This's not yet fixed with the latest calico.

[2020-11-14 18:45] svyotov commented on #1342
Releases make sense as even if new releases are not backwards compatible.
Using git hashes and with the current experience I have with `go mod` is not stable and very difficult to track.

To put it as simple as I can, it is just easier to know which release you are using (in communication and git diff) and it also means this is intended by the developers to be used and it is not a dev branch/hash.

[2020-11-16 11:47] fasaxc commented on #860
Does the workaround above work?

[2020-11-16 18:31] caseydavenport commented on #1342
Ah, I think this is where we disagree. The Calico team made a decision a while back that libcalico-go was _not_ intended to be for general use. Basically, we didn't have the resources to be in the business of supporting the libcalico-go API / library in addition to supporting end-users.

To be honest, I would love to see a fully supported Calico golang library, but I don't think that libcalico-go

[2020-11-17 23:39] caseydavenport commented on #1267
Looks like this PR was merged and will hopefully be in Kubernetes v1.20: https://github.com/kubernetes/kubernetes/pull/95981

Once released, we just need to update our client-go and apimachinery to the patched version and we should automatically get the new timeouts to fix this.

[2020-11-20 02:59] jmf0526 commented on #1329
Yes, that's exactly what I was trying to say.

I also feel this can't be handled easily, we have already recovered the env by using calicoctl ipam, thanks for the tip.

[2020-11-25 23:25] johanfleury opened #1348 "NumFreeAddresses always returns 0 in IPv6"
I’m not sure I’m reporting this at the correct place, but anyway…

## Expected Behavior

In Kubernetes, when a pod is scheduled on a node, the CNI plugin should be able to create an IPAMBlock and assign an IPv6 address from the newly created block.

## Current Behavior

The CNI plugin is unable to assign a IPv6 address because the `IPAMBlock` is created with an empty `unallocated` field and [`NumF

[2020-11-26 17:06] johanfleury commented on #1348
Actually, after having a quick look at the [`newBlock` function](lib/ipam/ipam_block.go#L43), it seems that the whole block creation flow is flawed: with a subnet size of 64, [`numAddresses`](lib/ipam/ipam_block.go#L45) will always be 0.

But in the end it’s the whole logic of storing a list of IP addresses in the `IPAMBlock` that is flawed: even if `numAddresses` was actually computed correctly,

[2020-12-08 17:17] caseydavenport commented on #1348
@johanfleury thanks for raising this, I agree with what you're saying. I need to remind myself on how this was all meant to work on IPv6, since clearly storing a list of all the addresses is just not feasible.

I'm also curious why our IPv6 / dual-stack tests aren't manifesting this issue.

[2021-01-04 19:10] #1267 closed

[2021-01-08 07:44] latteczy opened #1358 "calico client hang up when set wrong etcd endponits address."
## Expected Behavior

calico client will return an error if etcd endpoints address is wrong.

## Current Behavior

The calico client will hang up by set a wrong etcd endpoints address deliberately. And you will find that this connetion will be reset after 5 times retry.
![image](https://user-images.githubusercontent.com/65757763/103986963-a47d9480-51c6-11eb-8036-a7d87def5182.png)

## Possible Solu

[2021-01-08 09:38] latteczy commented on #1358
It seems that here is a timeout parameter for etcd client. But in fact it didn't take effect.
https://github.com/projectcalico/libcalico-go/blob/9bf530a83eda619e8c8e1b57dd347b2a3bc9ac5e/lib/backend/etcdv3/etcdv3.go#L119

[2021-03-12 16:46] orange-llajeanne opened #1377 "IPAM blocks can overlap when IP Pool block size is modified"
## Expected Behavior
IPAM blocks generated by calico IPAM should not be able to overlap each other, since it enables situations where several pods have the same IP address.

## Current Behavior
In the situation described below, we have two IPAM blocks of different sizes that overlap each other, which ends up causing two pods from the same IP Pool to have the same IP address.

## Possible Solution

[2021-03-22 20:39] univ0298 opened #1390 "BGPeer incorrectly requiring values"
## Expected Behavior
[code]

This should work and is even documented here: https://docs.projectcalico.org/networking/bgp . It looks like some change has broken the required values @caseydavenport

## Current Behavior
It shows that asNumber and peerIP are required when it fact it's the opposite - they must NOT be provided when specifying a peerSelector

## Possible Solution
Perhaps related to this

[2021-03-22 20:40] univ0298 commented on #1390
Also probably related: https://github.com/projectcalico/libcalico-go/commit/8a0cf3af106ac9aef7c02e0230fc8dcc3c7e6597

[2021-03-22 20:48] univ0298 commented on #1390
[code]

Perhaps this is fixed if my cluster was at a later version?

[2021-03-22 21:05] univ0298 commented on #1390
Looking at this more carefully it seems very likely it has been fixed in 3.18 by this commit:
https://github.com/projectcalico/libcalico-go/commit/ff61058d907e4cfee18d45d6099dc0f07a1a1238

[2021-03-22 21:05] #1390 closed

[2021-03-23 16:50] mgleung commented on #1377
Hey @orange-llajeanne , thanks for bringing this case to our attention. From my understanding, `calicoctl` should prevent you from changing the block size and CIDR for IP pools to prevent this from happening. I do not think we have a supported way of modifying the block size in already existing IP pools so if you wanted to make changes, you would need to remove the pods assigned to the block, dele

[2021-03-24 16:20] orange-llajeanne commented on #1377
Hello, thanks for your answer.

I actually do not have a use case in which I want to dynamically change the block size of an existing pool, i described this situation because this was the most direct way I could find to reproduce this issue.
The situation I am in is the one you described (removing a pool and recreating it with a different size), but it creates the same issue.

However, by reading

[2021-04-07 21:24] mgleung commented on #1377
@orange-llajeanne sorry for the late reply. Yeah, it's not recommended to edit the Calico resources directly through the k8s client. Not all of the resources need to be validated like IP pools, but there a few that do. You can generally see the checks done for each resource [here](https://github.com/projectcalico/libcalico-go/tree/master/lib/clientv3).

[2021-04-07 21:27] caseydavenport commented on #1377
@orange-llajeanne yes, that's not currently supported. Stay tuned though - I am working on a feature for Calico v3.19 which will enable this sort of workflow!

[2021-04-20 16:36] lmm commented on #1377
@orange-llajeanne I'm going to close this issue for now since I believe this is resolved.

[2021-04-20 16:36] #1377 closed

[2021-05-13 23:29] rsparulek opened #1424 "calico-node pods crash when VXLAN backend is used on IPv6 clusters with IPv6 Calico pools"
calico-node pods crash when VXLAN backend is used on IPv6 clusters with IPv6 Calico pools

## Expected Behavior
There should be a friendly warning for such issue. Calico pods should not enter into crash state.

## Current Behavior
calico-node pods crash when VXLAN backend is used on IPv6 clusters with IPv6 Calico pools

## Steps to Reproduce (for bugs)
Install K8S 1.21 multi node cluster and use C

[2021-05-13 23:31] rsparulek commented on #1424
@caseydavenport As per your suggestion; opening an issue for the panic trace seen on IPv6 clusters.

[2021-05-21 21:58] cmukai-cisco opened #1426 "Calico v3.19.1 Not Starting"
Deployed patch release v3.19.1 to test fix for long service account name. The calico/node pods do not start.

## Expected Behavior

Calico pods should all start.

## Current Behavior

Calico node pod does not start. The describe pod output shows this message:
`Message: OCI runtime create failed: container_linux.go:367: starting container process caused: exec: "/install-cni.sh": stat /install-cni.s

[2021-05-24 15:49] #1426 closed

[2021-05-24 15:50] cmukai-cisco commented on #1426
The Helm chart only provide support for Calico 3.15. Closing this ticket

[2021-06-07 14:25] piepmatz opened #1428 "CRD version should be v1"
## Expected Behavior
In https://github.com/projectcalico/libcalico-go/blob/3503e05cfaa8b31701936084d78c9914c9446081/lib/apis/v3/register.go#L22 the exported `SchemeGroupVersion`'s `Version` field should be `v1`, similar to as it's done in https://github.com/projectcalico/libcalico-go/blob/3503e05cfaa8b31701936084d78c9914c9446081/lib/backend/k8s/k8s.go#L446

## Current Behavior
It's `v3`.

## Conte

[2021-06-15 16:19] caseydavenport commented on #1428
**Definitely, 100% do not use the CRDs or programming interfaces in this repository directly**. I can't stress that enough.

We're working on a supported API client for Calico here, which will be released with Calico v3.20: https://github.com/projectcalico/api

That said, you are correct that should be a "v1".

[2021-06-15 16:29] caseydavenport commented on #1428
https://github.com/projectcalico/libcalico-go/pull/1431

[2021-06-15 16:58] AlexeyKukin opened #1432 "Problem with libcalico-go/lib/client - "module declares its path as: github.com/tchap/go-patricia/v2""
Hello!
When i've try do import:
import "**github.com/projectcalico/libcalico-go/lib/client**"

[code]

[2021-06-15 18:01] #1428 closed

[2021-06-18 22:21] Brian-McM commented on #1432
@AlexeyKukin It looks like this was caused by this commit https://github.com/projectcalico/libcalico-go/commit/d18c73c16a4090b8a70dfc5907d843694188f7ef, if you're referencing any of the libraries that were moved to the new project then go mod will try to get an older version of libcalico go that still has the package in it.

For our other projects that import libcalico go it was the numstring libr

[2021-06-29 16:16] caseydavenport commented on #1432
@AlexeyKukin yeah, we've done some refactoring of libcalico-go and removed some packages.

I strongly recommend NOT importing libcalico-go - it's meant to be an internal library.

We're working on github.com/projectcalico/api, which is intended to be a true public API for Calico.

[2021-06-29 16:16] #1432 closed

[2021-08-13 18:05] caseydavenport commented on #1336
Looks like the test is just bad:

https://github.com/projectcalico/libcalico-go/blob/a627242339808d8a07e6887d402b6dd1d51f48cb/lib/ipam/ipam_block_reader_writer_test.go#L330-L333

There's a comment explaining that we can't guarantee a single block is chosen during a race scenario where process A claims a block after process B has determined it needs to allocate a new block, but before process B sel

[2021-08-13 19:35] caseydavenport commented on #1336
Not sure if we care about fixing this, but this might be one way to do it: https://github.com/projectcalico/libcalico-go/pull/1488

[2021-08-17 23:39] #1336 closed

[2021-08-19 09:29] tobiasgiese opened #1491 "API scheme is not added to kubernetes client"
If we add the calico scheme to the workload client, the scheme will not be added.
A `GlobalNetworkPolicy` apply will result in the following error

[code]

## Expected Behavior

The scheme should be added to the client.

## Current Behavior

Obviously, the scheme will not be added, because the `func addKnownTypes` returns only `nil`

https://github.com/projectcalico/libcalico-go/blob/e7396385abd41

[2021-08-20 08:07] CherryJia opened #1493 "Compile failure when create new calicoctl client"
I’m not sure I’m reporting this at the correct place, but I want a help

## Problems

I am trying to create a simple Client to an existing Calico server in a sdk operator to apply/delete  networkpolicy
Here is my source code
[code]
Here is my go.mod
[code]
Calico server version is :
[code]

But failed to be compiled

The details logs
[code]

Where I can get an stable version to be specified in gom

[2021-08-20 16:53] caseydavenport commented on #1493
[code]

You shouldn't import libcalico-go - everything you need is in the `github.com/projectcalico/api` repository. This repo is meant for internal use. That might be part of what's going on.

[2021-08-20 16:58] caseydavenport commented on #1491
I think the file in libcalico-go that you're referencing is dead at this point and should probably be removed.

You're likely looking for the API respository, which is where the API and clients are defined for public consumption: https://github.com/projectcalico/api/blob/master/pkg/apis/projectcalico/v3/register.go

[2021-08-20 17:22] CherryJia commented on #1493
@caseydavenport thanks very much for the reply , but I was trying to run the example https://github.com/projectcalico/api/blob/master/examples/list-gnp/main.go  in  https://github.com/projectcalico/api
also met issue, can you hep to guide on this ?
[code]

[2021-08-24 08:12] CherryJia commented on #1493
Resolved https://github.com/projectcalico/libcalico-go/issues/1493#issuecomment-902842448 by downgrade my openapi version

[2021-08-24 08:12] #1493 closed

[2021-09-13 12:30] tobiasgiese commented on #1491
Thanks for the clarification @caseydavenport :)

[2021-09-13 12:30] #1491 closed